/** admin.css **/
.widget-at-recommend-post h4{
  line-height: 1.4em;
  border-left: 5px solid #e8e8e8;
  padding-left: 10px;
  padding-bottom: 5px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1),  -1px 1px 1px rgba(0,0,0,0.1);
          box-shadow: 1px 1px 1px rgba(0,0,0,0.1),  -1px 1px 1px rgba(0,0,0,0.1);
}

.widget-at-recommend-post{
  margin-bottom: 20px;
}
