/*public.css*/

.at-recommend-post ul.at-recommend-posts-ul li{
  padding-left: 0;
  /*border-bottom: 1px solid #e8e8e8;*/
  list-style-type: none;
  padding-top: 5px;
  line-height: 1.6;
  border-bottom: none;
}
.at-recommend-post ul.at-recommend-posts-ul li a{
  text-decoration: none;
}
.at-recommend-post ul.at-recommend-posts-ul li a:hover{
  text-decoration: underline;
}
.at-recommend-post ul.at-recommend-posts-ul li .title{
  margin-top: 5px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}
.at-recommend-post ul.at-recommend-posts-ul li .eye-catch{
  margin-right: 5px;
  display: inline-block;
}
.at-recommend-post ul.at-recommend-posts-ul li .description{
  padding-bottom: 10px;
  margin-right: 5px;
  overflow: hidden;
}
.at-recommend-post ul.at-recommend-posts-ul li .description a{
  font-size: 10px;
  float: right;
}
