.menu-icons-wrap {
	margin-top: 5px;
	margin-bottom: 5px;
}
.menu-icons-wrap .original label {
	display: inline-block;
	min-width: 7em;
}
.menu-icons-wrap .easy p {
	min-height: 2.2em;
	margin-bottom: 0;
}
.menu-icons-wrap .easy p > * {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.menu-icons-wrap .easy a {
	cursor: pointer;
	text-decoration: none;
}
.menu-icons-wrap .easy img {
	max-width: 40px;
	height: auto !important;
	vertical-align: baseline;
}
.menu-icons-wrap ._icon {
	color: #666;
	font-size: 1.9em;
	width: auto;
	height: auto;
	vertical-align: bottom;
	margin: -.1em .2em 0 .2em;
}

.mi-items-wrap .mi-items {
	padding-top: 10px;
}
.mi-item .attachment-preview {
	width: 110px;
	height: 125px;
	text-align: center;
}
.mi-item ._icon {
	display: inline-block;
	margin-top: 8px;
	color: #666;
	height: 110px;
}
.mi-item ._icon i {
	font-size: 80px;
	width: 80px;
	height: 80px;
	vertical-align: middle;
}
.menu-icons-wrap a._select:focus ._icon,
.menu-icons-wrap a._select:hover ._icon,
.mi-item:hover ._icon,
.mi-item.selected ._icon {
	color: #101010;
}
.mi-item .filename div {
	line-height: 1.1;
	padding: 8px 10px;
}

.mi-preview.menu-item {
	font-size: 1.2em;
	min-height: 0;
}
.mi-preview.menu-item a {
	text-decoration: none;
}
.mi-preview.menu-item ._icon {
	vertical-align: middle;
}

.mi-settings input[type="number"] {
	width: auto;
	max-width: 5em;
	float: none;
}
.mi-settings ._info {
	clear: both;
	padding-top: 1em;
	margin-bottom: 0;
}
