.menu i._mi,
.nav-menu i._mi {
	vertical-align: middle;
	margin-top: -.265em;
	width: auto;
	height: auto;
	font-size: 1.2em;
	line-height: 1;
}
.menu i._before,
.nav-menu i._before {
	margin-right: .25em;
}
.menu i._after,
.nav-menu i._after{
	margin-left: .25em;
}


/**
 * Force the icons' styles
 *
 * Some themes -- notably 2014 -- has nasty rules that
 * could override the icons' styles so we need to force them here.
 */
.dashicons-admin-site:before {
	content:"\f319" !important;
}
.dashicons-welcome-view-site:before {
	content:"\f115" !important;
}
