/** admin.css **/
.atMenu{
  margin-bottom: 10px;
}
.atMenu dt{
  display: block;
  border: #e8e8e8 1px solid;
  cursor: pointer;
  line-height: 2.4;
  vertical-align: middle;
  background: #FAFAFA;
  padding-left: 10px;
  padding-top: 4px;
}
.atMenu dt:hover{
  border: 1px solid #666;
}
.atMenu dt h4{
  margin-top: 0;
  margin-bottom: 0;
}
.atMenu dt h4 .dashicons{
  margin-top: 5px;
}
.atMenu dd{
  background:#f5f5f5;
  border-bottom:#CCC 1px solid;
  border-left:#CCC 1px solid;
  border-right:#CCC 1px solid;
  display:none;
  padding: 10px;
  margin-left: 0;
}
.atMenu dd p{
  margin-top: 0;
  padding: 4px;
}
