/*public.css*/

.widget_at-ranking-widget .at-ranking-widget {

}
.widget_at-ranking-widget .at-ranking-widget {
  background: #f5f5f5;
  padding: 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #E8E8E8;
}
.ds-ranking-widget-box{
  /*margin-top: 1.7em;*/
  margin-bottom: 1.7em;
  padding: 1em;
  background: #FFF;
  border: 1px solid #E8E8E8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
          box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  position: relative;
}
.ds-ranking-widget-box .thumbnails{
  position: relative;
}
.ds-ranking-widget-box .thumbnails .ranking-number{
  position: absolute;
  top: -10px;
  left: 0;
  width: 120px;
  z-index: 10000;
  height: auto;
}
.widget_at-ranking-widget .at-ranking-widget .ds-ranking-widget-box h3.ranking-title{
  margin-top: 0;
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 0.5em;
}
.widget_at-ranking-widget .at-ranking-widget .ds-ranking-widget-box .ranking-catch-copy{
  font-size: 1.3em;
  padding-bottom: 0.9em;
}
.widget_at-ranking-widget .at-ranking-widget .ds-ranking-widget-box .ranking-catch-copy .text-underline{
  border-bottom: 1px dotted #CCC;
}
.widget_at-ranking-widget .at-ranking-widget .ds-ranking-widget-box .ranking-more{
  position: absolute;
  bottom: 2em;
  right: 2em;
}


@charset "UTF-8";

/* ///////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////// */


.at-ranking-widget {
}

.at-ranking-widget .ds-ranking-widget-box {
}

.at-ranking-widget .ds-ranking-widget-box {
  display: inline-block;
  width: 100%;
  padding-top: 40px;
}

.at-ranking-widget .ds-ranking-widget-box .thumbnails {
  width: 33%;
  text-align: center;
  float: left;
}

.at-ranking-widget .ds-ranking-widget-box .thumbnails a {
}

.at-ranking-widget .ds-ranking-widget-box .thumbnails a .ranking-number {
  width: 32.3%;
  min-width: 40px;
  margin-top: -30px;
  margin-left: -10px;
}

.at-ranking-widget .ds-ranking-widget-box .thumbnails a .ranking-thumbnail {
}
.at-ranking-widget .ds-ranking-widget-box .thumbnails:after {
  content: "";
  background: url(../../../assets/box-shadow.png) no-repeat center bottom;
  display: block;
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
  height: 7px;
  width: 100%;
}

.at-ranking-widget .ds-ranking-widget-box .widget-ranking-content {
  width: 63%;
  margin-left: 20px;
  float: left;
}

.at-ranking-widget .ds-ranking-widget-box .widget-ranking-content .ranking-title {
}

.at-ranking-widget .ds-ranking-widget-box .widget-ranking-content .ranking-title a {
}

.at-ranking-widget .ds-ranking-widget-box .widget-ranking-content .ranking-catch-copy {
}

.at-ranking-widget .ds-ranking-widget-box .widget-ranking-content .ranking-catch-copy .text-underline {
}

.at-ranking-widget .ds-ranking-widget-box .widget-ranking-content .ranking-post-content {
}

.at-ranking-widget .ds-ranking-widget-box .btn {
}
.at-ranking-widget .ds-ranking-widget-box .btn.btn-dimensional:active,
.at-ranking-widget .ds-ranking-widget-box .btn.btn-dimensional:focus {
  bottom: 10px !important;
}

