/* This stylesheet is used to style the admin option form of the plugin. */

.affiliate_tools_options .cmb_metabox{
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.affiliate_tools_options .cmb_metabox tr th {
  padding-left: 20px;
}
.cmb_options_page h2{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  background: #FFF;
  padding-left: 20px;
}
