/**
 * CMB Styling
 */
table.cmb_metabox {
	clear: both;
  background: #FFF;
  width: 100%;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
          box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
input[type="submit"][name="submit-cmb"]{
  font-size: 13px;
  padding: 5px 11px;
  line-height: 1.4em;
  height: auto;
  margin-top: 40px;
}
table.cmb_metabox > tr:first-of-type > td,
table.cmb_metabox > tr:first-of-type > th,
table.cmb_metabox tbody > tr:first-of-type > td,
table.cmb_metabox tbody > tr:first-of-type > th,
.post-php table.cmb_metabox .cmb-nested-table td,
.post-new-php table.cmb_metabox .cmb-nested-table td,
.post-php table.cmb_metabox .repeatable-group th,
.post-new-php table.cmb_metabox .repeatable-group th,
.post-php table.cmb_metabox .repeatable-group:first-of-type,
.post-new-php table.cmb_metabox .repeatable-group:first-of-type {
	/*border: 0;*/
}

ul.cmb_checkbox_list {
  padding-left: 10px;
  overflow: auto;
  height: 500px;
}
ul.cmb_checkbox_list li{
  display: block;
  margin-bottom: 10px !important;
  white-space: normal;
  word-break: break-all;
  border: 1px solid #e8e8e8;
  padding: 10px;
}


.post-php table.cmb_metabox td,
.post-new-php table.cmb_metabox td,
.post-php table.cmb_metabox th,
.post-new-php table.cmb_metabox th,
.post-php table.cmb_metabox .repeatable-group,
.post-new-php table.cmb_metabox .repeatable-group,
.post-php table.cmb_metabox .repeatable-group,
.post-new-php table.cmb_metabox .repeatable-group {
	border-top: 1px solid #E9E9E9;
}

.repeatable-group th {
	padding: 5px;
}

.repeatable-group .shift-rows {
	text-decoration: none;
	margin-right: 5px;
	font-size: 1.2em;
}

.repeatable-group .cmb_upload_button {
	float: right;
}

#poststuff .repeatable-group h2 {
	margin: 0;
}

.post-php table.cmb_metabox th, .post-new-php table.cmb_metabox th {
	text-align: right;
	font-weight:bold;
}

.post-php table.cmb_metabox table th, .post-new-php table.cmb_metabox table th {
	text-align: left;
}

table.cmb_metabox th label {
	margin-top:5px;
	display:block
}

p.cmb_metabox_description {
	color: #666;
	font-style: normal;
	margin: 5px 0 !important
}

span.cmb_metabox_description {
	color: #666;
	font-style: normal
}

table.cmb_metabox input, table.cmb_metabox textarea {
	font-size:14px;
	padding: 5px;
}

table.cmb_metabox input[type=text], table.cmb_metabox textarea {
	width: 97%;
}

table.cmb_metabox textarea.cmb_textarea_code {
	font-family: Consolas,Monaco,monospace;
	line-height: 16px;
}

table.cmb_metabox input.cmb_text_small {
	width: 100px;
	margin-right: 15px
}

table.cmb_metabox input.cmb_timepicker {
	width: 100px;
	margin-right: 15px
}

table.cmb_metabox input.cmb_text_money {
	width: 90px;
	margin-right: 15px
}

table.cmb_metabox input.cmb_text_medium {
	width: 230px;
	margin-right: 15px
}

table.cmb_metabox input.cmb_upload_file {
	width: 65%;
}

table.cmb_metabox input.ed_button{
	padding:2px 4px
}

table.cmb_metabox li {
	font-size:14px;
	margin: 1px 0 5px 0;
	line-height: 16px;
}

table.cmb_metabox ul {
	padding-top:5px;
	margin: 0;
}

table.cmb_metabox select {
	font-size:14px;
	margin-top: 3px
}

table.cmb_metabox input:focus, table.cmb_metabox textarea:focus {
	background: #fffff8
}

.cmb_metabox_title {
	margin: 0 0 5px 0;
	padding: 5px 0 0 0;
}

.edit-tags-php .cmb_metabox_title, .profile-php .cmb_metabox_title, .user-edit-php .cmb_metabox_title {
	margin-left: -10px;
}

.cmb-inline ul {
	padding: 4px 0 0 0
}

.cmb-inline li {display: inline-block;
	padding-right: 18px
}

table.cmb_metabox input[type="radio"] {
	margin: 0 5px 0 0;
	padding: 0
}

table.cmb_metabox input[type="checkbox"] {
	margin: 0 5px 0 0;
	padding: 0
}

table.cmb_metabox .mceLayout {
	border:1px solid #DFDFDF !important
}

table.cmb_metabox .mceIframeContainer {
	background:#FFF
}

table.cmb_metabox .meta_mce {
	width:97%
}

table.cmb_metabox .meta_mce textarea {
	width:100%
}

table.cmb_metabox .cmb_media_status {
 margin: 10px 0 0 0
}

table.cmb_metabox .cmb_media_status .img_status {
	clear: none;
	float: left;
	display: inline-block;
	margin-right: 10px;
	width: auto;
}

table.cmb_metabox .cmb-type-file_list .cmb_media_status .img_status {
	clear: none;
	float: left;
	margin-right: 10px;
	width: auto;
}

table.cmb_metabox .cmb_media_status .img_status, table.cmb_metabox .cmb_media_status .embed_status {
	position: relative;
}

table.cmb_metabox .cmb_media_status .img_status img, table.cmb_metabox .cmb_media_status .embed_status {
	border:1px solid #DFDFDF;
	background: #FAFAFA;
	max-width:350px;
	padding: 5px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

table.cmb_metabox .cmb_media_status .embed_status {
	float: left;
	max-width:800px
}

table.cmb_metabox .cmb_media_status .img_status .cmb_remove_file_button, table.cmb_metabox .cmb_media_status .embed_status .cmb_remove_file_button {
	text-indent: -9999px;
	background: url(images/ico-delete.png);
	width: 16px;
	height: 16px;
	position: absolute;
	top: -5px;
	left: -5px
}

table.cmb_metabox .attach_list li {
	clear: both;
	display: inline-block;
	margin-bottom: 25px;
	width: 100%;
}

table.cmb_metabox .attach_list li img {
	float: left;
	margin-right: 10px;
}

/**
 * Sidebar placement adjustments
 */
.inner-sidebar table.cmb_metabox input[type=text],
#side-sortables table.cmb_metabox input[type=text],
table.cmb_metabox textarea {
	width: 95%;
}

.inner-sidebar table.cmb_metabox .cmb_media_status .img_status img,
#side-sortables table.cmb_metabox .cmb_media_status .img_status img,
.inner-sidebar table.cmb_metabox .cmb_media_status .embed_status img,
#side-sortables table.cmb_metabox .cmb_media_status .embed_status img {
	width: 90%;
}

.inner-sidebar table.cmb_metabox label,
#side-sortables table.cmb_metabox label {
	display: block;
	font-weight: bold;
	padding: 0 0 5px;
}

.inner-sidebar table.cmb_metabox .cmb_list label,
#side-sortables table.cmb_metabox .cmb_list label {
	display: inline;
	font-weight: normal;
}

.inner-sidebar table.cmb_metabox .cmb_metabox_description,
#side-sortables table.cmb_metabox .cmb_metabox_description {
	display: block;
	padding: 7px 0 0;
}

.inner-sidebar table.cmb_metabox .cmb_metabox_title,
#side-sortables table.cmb_metabox .cmb_metabox_title {
	font-size: 1.2em;
	font-style: italic;
}

.postbox table.cmb_metabox .cmb-spinner {
	float: left;
}

/**
 * Color picker
 */
table.cmb_metabox .wp-color-result, table.cmb_metabox .wp-picker-input-wrap {
	vertical-align: middle;
}

table.cmb_metabox .wp-color-result, table.cmb_metabox .wp-picker-container {
	margin: 0 10px 0 0;
}


/**
 * Timepicker
 */
div.time-picker {
	position: absolute;
	height: 191px;
	width:6em;
	/* needed for IE */overflow: auto;
	background: #fff;
	border: 1px solid #aaa;
	z-index: 99;
	margin: 0
}

div.time-picker-12hours {
	width:8em; /* needed for IE */
}

div.time-picker ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.time-picker li {
	cursor: pointer;
	height: 10px;
	font: 14px/1 Helvetica, Arial, sans-serif;
	padding: 4px 3px;
}

div.time-picker li.selected {
	background: #0063CE;
	color: #fff;
}

/**
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
 .cmb_element .ui-helper-hidden { display: none; }
 .cmb_element .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
 .cmb_element .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
 .cmb_element .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 .cmb_element .ui-helper-clearfix { display: inline-block; }
 * html .ui-helper-clearfix { height:1%; }
 .cmb_element .ui-helper-clearfix { display:block; }
 .cmb_element .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
 .cmb_element .ui-state-disabled { cursor: default !important; }
 .cmb_element .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
 .cmb_element .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
 .cmb_element .ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
 .cmb_element .ui-widget .ui-widget { font-size: 1em; }
 .cmb_element .ui-widget input, .cmb_element .ui-widget select, .cmb_element .ui-widget textarea, .cmb_element .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
 .cmb_element .ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
 .cmb_element .ui-widget-content a { color: #222222; }
 .cmb_element .ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
 .cmb_element .ui-widget-header a { color: #222222; }
 .cmb_element .ui-state-default, .cmb_element .ui-widget-content .ui-state-default, .cmb_element .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
 .cmb_element .ui-state-default a, .cmb_element .ui-state-default a:link, .cmb_element .ui-state-default a:visited { color: #555555; text-decoration: none; }
 .cmb_element .ui-state-hover, .cmb_element .ui-widget-content .ui-state-hover, .cmb_element .ui-widget-header .ui-state-hover, .cmb_element .ui-state-focus, .cmb_element .ui-widget-content .ui-state-focus, .cmb_element .ui-widget-header .ui-state-focus { border: 1px solid #999999; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
 .cmb_element .ui-state-hover a, .cmb_element .ui-state-hover a:hover { color: #212121; text-decoration: none; }
 .cmb_element .ui-state-active, .cmb_element .ui-widget-content .ui-state-active, .cmb_element .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
 .cmb_element .ui-state-active a, .cmb_element .ui-state-active a:link, .cmb_element .ui-state-active a:visited { color: #212121; text-decoration: none; }
 .cmb_element .ui-widget :active { outline: none; }
 .cmb_element .ui-state-highlight, .cmb_element .ui-widget-content .ui-state-highlight, .cmb_element .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1; background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
 .cmb_element .ui-state-highlight a, .cmb_element .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
 .cmb_element .ui-state-error, .cmb_element .ui-widget-content .ui-state-error, .cmb_element .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
 .cmb_element .ui-state-error a, .cmb_element .ui-widget-content .ui-state-error a, .cmb_element .ui-widget-header .ui-state-error a { color: #cd0a0a; }
 .cmb_element .ui-state-error-text, .cmb_element .ui-widget-content .ui-state-error-text, .cmb_element .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
 .cmb_element .ui-priority-primary, .cmb_element .ui-widget-content .ui-priority-primary, .cmb_element .ui-widget-header .ui-priority-primary { font-weight: bold; }
 .cmb_element .ui-priority-secondary, .cmb_element .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
 .cmb_element .ui-state-disabled, .cmb_element .ui-widget-content .ui-state-disabled, .cmb_element .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
 .cmb_element .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
 .cmb_element .ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
 .cmb_element .ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
 .cmb_element .ui-state-default .ui-icon { background-image: url(images/ui-icons_888888_256x240.png); }
 .cmb_element .ui-state-hover .ui-icon, .cmb_element .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
 .cmb_element .ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
 .cmb_element .ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png); }
 .cmb_element .ui-state-error .ui-icon, .cmb_element .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png); }
 .cmb_element .ui-icon-carat-1-n { background-position: 0 0; }
 .cmb_element .ui-icon-carat-1-ne { background-position: -16px 0; }
 .cmb_element .ui-icon-carat-1-e { background-position: -32px 0; }
 .cmb_element .ui-icon-carat-1-se { background-position: -48px 0; }
 .cmb_element .ui-icon-carat-1-s { background-position: -64px 0; }
 .cmb_element .ui-icon-carat-1-sw { background-position: -80px 0; }
 .cmb_element .ui-icon-carat-1-w { background-position: -96px 0; }
 .cmb_element .ui-icon-carat-1-nw { background-position: -112px 0; }
 .cmb_element .ui-icon-carat-2-n-s { background-position: -128px 0; }
 .cmb_element .ui-icon-carat-2-e-w { background-position: -144px 0; }
 .cmb_element .ui-icon-triangle-1-n { background-position: 0 -16px; }
 .cmb_element .ui-icon-triangle-1-ne { background-position: -16px -16px; }
 .cmb_element .ui-icon-triangle-1-e { background-position: -32px -16px; }
 .cmb_element .ui-icon-triangle-1-se { background-position: -48px -16px; }
 .cmb_element .ui-icon-triangle-1-s { background-position: -64px -16px; }
 .cmb_element .ui-icon-triangle-1-sw { background-position: -80px -16px; }
 .cmb_element .ui-icon-triangle-1-w { background-position: -96px -16px; }
 .cmb_element .ui-icon-triangle-1-nw { background-position: -112px -16px; }
 .cmb_element .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
 .cmb_element .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
 .cmb_element .ui-icon-arrow-1-n { background-position: 0 -32px; }
 .cmb_element .ui-icon-arrow-1-ne { background-position: -16px -32px; }
 .cmb_element .ui-icon-arrow-1-e { background-position: -32px -32px; }
 .cmb_element .ui-icon-arrow-1-se { background-position: -48px -32px; }
 .cmb_element .ui-icon-arrow-1-s { background-position: -64px -32px; }
 .cmb_element .ui-icon-arrow-1-sw { background-position: -80px -32px; }
 .cmb_element .ui-icon-arrow-1-w { background-position: -96px -32px; }
 .cmb_element .ui-icon-arrow-1-nw { background-position: -112px -32px; }
 .cmb_element .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
 .cmb_element .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
 .cmb_element .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
 .cmb_element .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
 .cmb_element .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
 .cmb_element .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
 .cmb_element .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
 .cmb_element .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
 .cmb_element .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
 .cmb_element .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
 .cmb_element .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
 .cmb_element .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
 .cmb_element .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
 .cmb_element .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
 .cmb_element .ui-icon-arrowthick-1-w { background-position: -96px -48px; }
 .cmb_element .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
 .cmb_element .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
 .cmb_element .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
 .cmb_element .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
 .cmb_element .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
 .cmb_element .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
 .cmb_element .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
 .cmb_element .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
 .cmb_element .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
 .cmb_element .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
 .cmb_element .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
 .cmb_element .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
 .cmb_element .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
 .cmb_element .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
 .cmb_element .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
 .cmb_element .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
 .cmb_element .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
 .cmb_element .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
 .cmb_element .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
 .cmb_element .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
 .cmb_element .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
 .cmb_element .ui-icon-arrow-4 { background-position: 0 -80px; }
 .cmb_element .ui-icon-arrow-4-diag { background-position: -16px -80px; }
 .cmb_element .ui-icon-extlink { background-position: -32px -80px; }
 .cmb_element .ui-icon-newwin { background-position: -48px -80px; }
 .cmb_element .ui-icon-refresh { background-position: -64px -80px; }
 .cmb_element .ui-icon-shuffle { background-position: -80px -80px; }
 .cmb_element .ui-icon-transfer-e-w { background-position: -96px -80px; }
 .cmb_element .ui-icon-transferthick-e-w { background-position: -112px -80px; }
 .cmb_element .ui-icon-folder-collapsed { background-position: 0 -96px; }
 .cmb_element .ui-icon-folder-open { background-position: -16px -96px; }
 .cmb_element .ui-icon-document { background-position: -32px -96px; }
 .cmb_element .ui-icon-document-b { background-position: -48px -96px; }
 .cmb_element .ui-icon-note { background-position: -64px -96px; }
 .cmb_element .ui-icon-mail-closed { background-position: -80px -96px; }
 .cmb_element .ui-icon-mail-open { background-position: -96px -96px; }
 .cmb_element .ui-icon-suitcase { background-position: -112px -96px; }
 .cmb_element .ui-icon-comment { background-position: -128px -96px; }
 .cmb_element .ui-icon-person { background-position: -144px -96px; }
 .cmb_element .ui-icon-print { background-position: -160px -96px; }
 .cmb_element .ui-icon-trash { background-position: -176px -96px; }
 .cmb_element .ui-icon-locked { background-position: -192px -96px; }
 .cmb_element .ui-icon-unlocked { background-position: -208px -96px; }
 .cmb_element .ui-icon-bookmark { background-position: -224px -96px; }
 .cmb_element .ui-icon-tag { background-position: -240px -96px; }
 .cmb_element .ui-icon-home { background-position: 0 -112px; }
 .cmb_element .ui-icon-flag { background-position: -16px -112px; }
 .cmb_element .ui-icon-calendar { background-position: -32px -112px; }
 .cmb_element .ui-icon-cart { background-position: -48px -112px; }
 .cmb_element .ui-icon-pencil { background-position: -64px -112px; }
 .cmb_element .ui-icon-clock { background-position: -80px -112px; }
 .cmb_element .ui-icon-disk { background-position: -96px -112px; }
 .cmb_element .ui-icon-calculator { background-position: -112px -112px; }
 .cmb_element .ui-icon-zoomin { background-position: -128px -112px; }
 .cmb_element .ui-icon-zoomout { background-position: -144px -112px; }
 .cmb_element .ui-icon-search { background-position: -160px -112px; }
 .cmb_element .ui-icon-wrench { background-position: -176px -112px; }
 .cmb_element .ui-icon-gear { background-position: -192px -112px; }
 .cmb_element .ui-icon-heart { background-position: -208px -112px; }
 .cmb_element .ui-icon-star { background-position: -224px -112px; }
 .cmb_element .ui-icon-link { background-position: -240px -112px; }
 .cmb_element .ui-icon-cancel { background-position: 0 -128px; }
 .cmb_element .ui-icon-plus { background-position: -16px -128px; }
 .cmb_element .ui-icon-plusthick { background-position: -32px -128px; }
 .cmb_element .ui-icon-minus { background-position: -48px -128px; }
 .cmb_element .ui-icon-minusthick { background-position: -64px -128px; }
 .cmb_element .ui-icon-close { background-position: -80px -128px; }
 .cmb_element .ui-icon-closethick { background-position: -96px -128px; }
 .cmb_element .ui-icon-key { background-position: -112px -128px; }
 .cmb_element .ui-icon-lightbulb { background-position: -128px -128px; }
 .cmb_element .ui-icon-scissors { background-position: -144px -128px; }
 .cmb_element .ui-icon-clipboard { background-position: -160px -128px; }
 .cmb_element .ui-icon-copy { background-position: -176px -128px; }
 .cmb_element .ui-icon-contact { background-position: -192px -128px; }
 .cmb_element .ui-icon-image { background-position: -208px -128px; }
 .cmb_element .ui-icon-video { background-position: -224px -128px; }
 .cmb_element .ui-icon-script { background-position: -240px -128px; }
 .cmb_element .ui-icon-alert { background-position: 0 -144px; }
 .cmb_element .ui-icon-info { background-position: -16px -144px; }
 .cmb_element .ui-icon-notice { background-position: -32px -144px; }
 .cmb_element .ui-icon-help { background-position: -48px -144px; }
 .cmb_element .ui-icon-check { background-position: -64px -144px; }
 .cmb_element .ui-icon-bullet { background-position: -80px -144px; }
 .cmb_element .ui-icon-radio-off { background-position: -96px -144px; }
 .cmb_element .ui-icon-radio-on { background-position: -112px -144px; }
 .cmb_element .ui-icon-pin-w { background-position: -128px -144px; }
 .cmb_element .ui-icon-pin-s { background-position: -144px -144px; }
 .cmb_element .ui-icon-play { background-position: 0 -160px; }
 .cmb_element .ui-icon-pause { background-position: -16px -160px; }
 .cmb_element .ui-icon-seek-next { background-position: -32px -160px; }
 .cmb_element .ui-icon-seek-prev { background-position: -48px -160px; }
 .cmb_element .ui-icon-seek-end { background-position: -64px -160px; }
 .cmb_element .ui-icon-seek-start { background-position: -80px -160px; }
 .cmb_element .ui-icon-seek-first { background-position: -80px -160px; }
 .cmb_element .ui-icon-stop { background-position: -96px -160px; }
 .cmb_element .ui-icon-eject { background-position: -112px -160px; }
 .cmb_element .ui-icon-volume-off { background-position: -128px -160px; }
 .cmb_element .ui-icon-volume-on { background-position: -144px -160px; }
 .cmb_element .ui-icon-power { background-position: 0 -176px; }
 .cmb_element .ui-icon-signal-diag { background-position: -16px -176px; }
 .cmb_element .ui-icon-signal { background-position: -32px -176px; }
 .cmb_element .ui-icon-battery-0 { background-position: -48px -176px; }
 .cmb_element .ui-icon-battery-1 { background-position: -64px -176px; }
 .cmb_element .ui-icon-battery-2 { background-position: -80px -176px; }
 .cmb_element .ui-icon-battery-3 { background-position: -96px -176px; }
 .cmb_element .ui-icon-circle-plus { background-position: 0 -192px; }
 .cmb_element .ui-icon-circle-minus { background-position: -16px -192px; }
 .cmb_element .ui-icon-circle-close { background-position: -32px -192px; }
 .cmb_element .ui-icon-circle-triangle-e { background-position: -48px -192px; }
 .cmb_element .ui-icon-circle-triangle-s { background-position: -64px -192px; }
 .cmb_element .ui-icon-circle-triangle-w { background-position: -80px -192px; }
 .cmb_element .ui-icon-circle-triangle-n { background-position: -96px -192px; }
 .cmb_element .ui-icon-circle-arrow-e { background-position: -112px -192px; }
 .cmb_element .ui-icon-circle-arrow-s { background-position: -128px -192px; }
 .cmb_element .ui-icon-circle-arrow-w { background-position: -144px -192px; }
 .cmb_element .ui-icon-circle-arrow-n { background-position: -160px -192px; }
 .cmb_element .ui-icon-circle-zoomin { background-position: -176px -192px; }
 .cmb_element .ui-icon-circle-zoomout { background-position: -192px -192px; }
 .cmb_element .ui-icon-circle-check { background-position: -208px -192px; }
 .cmb_element .ui-icon-circlesmall-plus { background-position: 0 -208px; }
 .cmb_element .ui-icon-circlesmall-minus { background-position: -16px -208px; }
 .cmb_element .ui-icon-circlesmall-close { background-position: -32px -208px; }
 .cmb_element .ui-icon-squaresmall-plus { background-position: -48px -208px; }
 .cmb_element .ui-icon-squaresmall-minus { background-position: -64px -208px; }
 .cmb_element .ui-icon-squaresmall-close { background-position: -80px -208px; }
 .cmb_element .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
 .cmb_element .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
 .cmb_element .ui-icon-grip-solid-vertical { background-position: -32px -224px; }
 .cmb_element .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
 .cmb_element .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
 .cmb_element .ui-icon-grip-diagonal-se { background-position: -80px -224px; }
 .cmb_element .ui-corner-all, .cmb_element .ui-corner-top, .cmb_element .ui-corner-left, .cmb_element .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
 .cmb_element .ui-corner-all, .cmb_element .ui-corner-top, .cmb_element .ui-corner-right, .cmb_element .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
 .cmb_element .ui-corner-all, .cmb_element .ui-corner-bottom, .cmb_element .ui-corner-left, .cmb_element .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
 .cmb_element .ui-corner-all, .cmb_element .ui-corner-bottom, .cmb_element .ui-corner-right, .cmb_element .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
 .cmb_element .ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
 .cmb_element .ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
 .cmb_element .ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
 .cmb_element .ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
 .cmb_element .ui-datepicker .ui-datepicker-prev, .cmb_element .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
 .cmb_element .ui-datepicker .ui-datepicker-prev-hover, .cmb_element .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
 .cmb_element .ui-datepicker .ui-datepicker-prev { left:2px; }
 .cmb_element .ui-datepicker .ui-datepicker-next { right:2px; }
 .cmb_element .ui-datepicker .ui-datepicker-prev-hover { left:1px; }
 .cmb_element .ui-datepicker .ui-datepicker-next-hover { right:1px; }
 .cmb_element .ui-datepicker .ui-datepicker-prev span, .cmb_element .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
 .cmb_element .ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
 .cmb_element .ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
 .cmb_element .ui-datepicker select.ui-datepicker-month-year {width: 100%;}
 .cmb_element .ui-datepicker select.ui-datepicker-month,
 .cmb_element .ui-datepicker select.ui-datepicker-year { width: 49%;}
 .cmb_element .ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
 .cmb_element .ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
 .cmb_element .ui-datepicker td { border: 0; padding: 1px; }
 .cmb_element .ui-datepicker td span, .cmb_element .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
 .cmb_element .ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
 .cmb_element .ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
 .cmb_element .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }
 .cmb_element .ui-datepicker.ui-datepicker-multi { width:auto; }
 .cmb_element .ui-datepicker-multi .ui-datepicker-group { float:left; }
 .cmb_element .ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
 .cmb_element .ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
 .cmb_element .ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
 .cmb_element .ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
 .cmb_element .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
 .cmb_element .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
 .cmb_element .ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
 .cmb_element .ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }
 .cmb_element .ui-datepicker-rtl { direction: rtl; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-group { float:right; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
 .cmb_element .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
 .cmb_element .ui-datepicker-cover {
     display: none; /*sorry for IE5*/
     display/**/: block; /*sorry for IE5*/
     position: absolute; /*must have*/
     z-index: -1; /*must have*/
     filter: mask(); /*must have*/
     top: -4px; /*must have*/
     left: -4px; /*must have*/
     width: 200px; /*must have*/
     height: 200px; /*must have*/
 }
