/* share btn */
.share-block *{
  vertical-align: bottom;
}
.share-block .google_plus-share,
.share-block .google_plus-share *{
  vertical-align: top;
}
.share-block{
  margin-top: 10px;
  margin-bottom: 10px;
}
.share-block .sharebtn{
  margin-left: 5px;
  margin-right: 5px;
}
