// ==============================
// _article.scss
// 投稿グループ スタイルシート
// ==============================
.post-group{
	clear: both;
	margin-bottom: $global-mb-md;
}

.entry-author-meta{
	margin-bottom: 1em;
	.share-block{
		text-align: right;
		margin-top: -5px;
		display: inline-block;
		.sharebtn{
			margin-bottom: 0.6em;
			display: inline-block;
			margin-top: 0.7em;
		}
	}
}
