// ==============================
// aside.scss
// サイドバー スタイルシート
// ==============================
.sidebar {
	padding-top: $wrapper-padding-top;
	padding-bottom: $wrapper-padding-bottom;
	border-left: none;
}
// ウィジェットの設定
.widget {
	&.stickey{
		background: #FFF;
	}
	margin-bottom: 1em;
	&.widget_recent_entries,
	&.widget_nav_menu,
	&.widget_categories,
	&.widget_meta,
	&.widget_archive{
		ul{
			list-style: none;
			li{
				padding-left: 0;
				border-bottom: 1px solid $gray-lighter;
				line-height: 2.3em;
				a{
					border-top: 3px solid transparent;
					border-bottom: 3px solid transparent;
					display: block;
					padding-left: 1.6em;
					background-image: url("../../themes/dsblog/assets/img/arrow-mini.png");
					background-position: 0.4em 1.05em;
					background-repeat: no-repeat;
					&:hover{
						background-image: url("../../themes/dsblog/assets/img/arrow-mini_hover.png");
						background-position: 0.4em 1.05em;
						background-repeat: no-repeat;
						text-decoration: none;
					}
					&:active,
					&:focus{
						background-image: url("../../themes/dsblog/assets/img/arrow-mini_hover.png") !important;
						background-position: 0.4em 1.05em !important;
						background-repeat: no-repeat !important;
						-webkit-box-shadow: inset 0 0 $base-box-shadow rgba(0,0,0,0.3);
						        box-shadow: inset 0 0 $base-box-shadow rgba(0,0,0,0.3);
						text-decoration: none;
					}
				}
				.post-date{
					display: inline-block;
					font-size: 0.8em;
				}
			}
		}
	}
	&.widget_categories{
		ul{
			li{
				ul.children{
					margin-left: 1em;
				}
			}
		}
	}
	&.widget_rss{
		ul{
			padding-left: 0;
			margin-left: 0;
			li{
				margin-left: 0;
				padding-left: 0px;
				.rsswidget{
					display: block;
					padding-left: 0.8em;
					padding-right: 0.8em;
					border-bottom: 1px solid $gray-lighter;
					border-left: 1px solid $gray-lighter;
					border-right: 1px solid $gray-lighter;
					background: #f5f5f5;
					-webkit-box-shadow: inset 0 0 1px #FFF,inset 0 0 1px #FFF,inset 0 0 1px #FFF;
					        box-shadow: inset 0 0 1px #FFF,inset 0 0 1px #FFF,inset 0 0 1px #FFF;
				}
				.rss-date{
					font-size: 0.8em;
				}
				.rssSummary{
					font-size: 0.9em;
					line-height: 1.5em;
				}
			}
		}
	}
	ul{
		margin-left: 0;
		padding-left: 0px;
		list-style: none;
		li{
			padding-left: 10px;
			border-bottom: 1px solid $gray-lighter;
			line-height: 2.8em;
		}
	}
	// カレンダー
	&.widget_calendar{
		#wp-calendar{
			width: 100%;
			border: 1px solid #eeeeee;
			border-collapse: collapse;
			th{
				padding: 5px;
				background: #eeeeee;
			}
			td{
				padding: 5px;
				border: 1px solid #eeeeee;
				text-align: center;
			}
		}
	}
	// sidebar
	&.widget-sidebar{
		.widget-title{
			margin-top: 0px;
			padding-left: 1.4em;
			border-top: $widget-title-border-top solid $gray-lighter;
			border-bottom: $widget-title-border-bottom solid $gray-light;
			font-weight: bold;
			font-size: 1.2em;
			line-height: 2.4em;
		}
	}
	// header
	&.widget-header{
		.widget-title{
			padding-left: 10px;
			border-top: $widget-title-border-top solid $gray-lighter;
			border-bottom: $widget-title-border-bottom solid $gray-light;
			color: #252525;
			font-weight: bold;
			font-size: 1.2em;
			line-height: 2.4em;
		}
	}
	// content
	&.widget-content{
		.widget-title{
			padding-left: 10px;
			border-top: $widget-title-border-top solid $gray-lighter;
			border-bottom: $widget-title-border-bottom solid $gray-light;
			color: #252525;
			font-weight: bold;
			font-size: 1.2em;
			line-height: 2.4em;
		}
	}
	// footer
	&.widget-footer{
		.widget-title{
			padding-left: 10px;
			border-top: $widget-title-border-top solid $gray-lighter;
			border-bottom: $widget-title-border-bottom solid $gray-light;
			color: #252525;
			font-weight: bold;
			font-size: 1.2em;
			line-height: 2.4em;
		}
	}
}

iframe{
	max-width: 100%;
	height: auto;
}
