#respond{

}
.comment-reply-link,
#cancel-comment-reply-link{
	background: $gray-lighter;
	padding: 0px 8px;
	margin-top: 10px;
	display: inline-block;
	border: 1px solid $gray-light;
	font-size: 0.9em;
}

.media-list{
	li.comment{
		border-top: 1px solid $gray-lighter;
		margin-top: 1em;
		padding-top: 1em;
	}
}
