// _footer.scss

.footer-copy{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
footer#colophon{
	background: url("../../themes/dsblog/assets/img/footer-bg.jpg");
}

// トップへ戻る

.scroll-to-top.shown {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.scroll-to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	color: white;
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
	opacity: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	&:hover{
		text-decoration: none;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
}
