// ==============================
// _header.scss
// ヘッダー スタイルシート
// ==============================

#main{
	.page-header{
		margin-top: 0;
		.page-title{
			margin-top: 0;
			padding-left: 0.5em;
		}
	}
}
.site-header{
	background: $header-bg-color;
	.header-inner{
		min-height: $header-min-height;
	}
	.site-description{
		box-shadow: 0 $header-box-shadow $header-box-shadow rgba(0,0,0,0.2);
	}
	.header-widgets{
		margin-top: 3em;
		margin-bottom: 3em;
	}
	.logo{
		margin-top: $logo-margin-top;
		margin-bottom: $logo-margin-bottom;
		&.small{
			font-size: $logo-sm-font-size;
			line-height: 1.7em;
			img{
				width: 50%;
				height: auto;
			}
		}
		&.normal{
			font-size: $logo-md-font-size;
			line-height: 1.7em;
			img{
				width: auto;
				height: auto;
			}
		}
		&.full{
			font-size: $logo-lg-font-size;
			line-height: 1.7em;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

// ==============================
//  ナビゲーション
// ==============================

.navbar .nav li a i {
	margin-right: 0.5em;
	margin-left: 0.5em;
}
