// ==============================
// _headings.scss
// タイポグラフィー スタイルシート
// ==============================

// 見出し関連SCSS
.entry_header{
	// margin-top: 2em;
	margin-bottom: $global-mb-sm;
	padding-bottom: 0.1em;
	border-top: $entry-title-border-top solid #e8e8e8;
	border-bottom: $entry-title-border-bottom solid #e8e8e8;
	.entry-title{
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0.5em;
		font-weight: bold;
		font-size: 1.5em;
		line-height: 2.2em;
	}
	.entry-meta{
		.entry-date{
			display: inline-block;
			padding-right: 0.7em;
			padding-left: 0.7em;
			background: #CCC;
			-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.2);
			        box-shadow: inset 0px 0px 1px rgba(0,0,0,0.2);
			color: #FFF;
			vertical-align: middle;
			font-size: 0.9em;
			line-height: 1.8em;
		}
	}
}

// ウィジェットタイトル調整

.widget-title{
	&.type02{
		margin-left: 0;
		color: #FFF;
	}
	&.type03{
		margin-left: 0;
		// padding-left: 2em0 !important;
	}
	&.type04{
		margin-left: 0;
	}
	&.type05{
		margin-left: 0;
	}
	&.type06{
		margin-left: 0;
		padding-left: 2.3em !important;
		line-height: 1.2em !important;
		&:before,
		&:after{
			font-size: 1em;
		}
	}
}

