// ==============================
// _main.scss
// メインカラム スタイルシート
// ==============================

// ワラッパー
@media (min-width: 1000px){
	.container{
		width: $wrapper-width;
	}
}
.wrap.container{
	.content{
		color: $wrapper-color;
		background: $wrapper-bg;
		-webkit-box-shadow: 0px $main-box-shadow $main-box-shadow rgba(0,0,0,0.1);
		        box-shadow: 0px $main-box-shadow $main-box-shadow rgba(0,0,0,0.1);
		border-left: $border-width-sm solid #e8e8e8;
		border-right: $border-width-sm solid #e8e8e8;
	}
}

// パンくず
.breadcrumbs{
	margin-top: $global-mt-sm;
	margin-bottom: $global-mb-sm;
	background: $breadcrumbs-bg;
	padding: 3px 1em;
	-webkit-border-radius: $breadcrumbs-radius;
	        border-radius: $breadcrumbs-radius;
}
// メインカラム
.main{
	padding-bottom: $wrapper-padding-top;
	padding-top: $wrapper-padding-bottom;
	&.pull-right{
		padding-left: 8px;
	}
	&.pull-left{
		padding-right: 8px;
	}
}
