// ==============================
// _responsive.scss
// レスポンシブ スタイルシート
// ==============================

// コンテナー
body{
}
.container{
	padding-left: 5px;
	padding-right: 5px;
}

// ナビゲーション
#masthead .navbar{
	margin-top: 10px;
	margin-bottom: 10px;
	.logo{
		padding-left: 5px;
		&.full{
			font-size: 1.9em;
		}
	}
	&.navbar-relative{
		padding-top: 0;
		padding-bottom: 0;
		background-image: none !important;
	}
	.navbar-header{
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 0;
		margin-right: 0;
		.navbar-toggle{
		}
	}
	#header-navbar-collapse{
		margin-left: 0;
		margin-right: 0;
	}
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24{
	padding-left: 5px;
	padding-right: 5px;
}


.entry_header{
	font-size: 0.8em
}

// 投稿グループ

.post-group{
	.entry-content {
		padding-left: 5px;
		padding-right: 5px;
		.entry-meta{
			margin-bottom: 1em;
		}
	}
}


.entry-author-meta{
	overflow: hidden;
	margin-bottom: 1em;
	font-size: 0.9em;
	.share-block{
		text-align: left;
		display: block;
		overflow: hidden;
		.sharebtn{
			margin-bottom: 0.4em;
			display: inline-block;
			margin-top: 1em;
			float: left;
		}
	}
}
