// ==============================
// _shortcodes.scss
// ショートコード スタイルシート
// ==============================

// カラーを定義
$ds_black: #555 !default;
$ds_red: #BA2F2F !default;
$ds_blue: #7261DF !default;
$ds_pink: #FF00DE !default;
$ds_green: #40B93F !default;
$ds_orange: #FFA600 !default;
$ds_yellow: #ECF222 !default;


// padding
$ds_padding_top: 10px;
$ds_padding_bottom: 10px;
$ds_padding_icon_left: 50px;

// 画像パス
$TEMPLATE_PATH: '../img/shortcode/';

// リストタイプ
$ds_list_types: circle,dotted,checked,box_checked,arrow,box_arrow,circle_arrow;

// 装飾見出しタイプ
$ds_heading_types: crown, crown2, memo, memo2 ,beginner, beginner2 ,present,present2,star,star2 ;

// ! タイプ
// $ds_list_types: ;

/////////////////////////
// リスト mixin         //
/////////////////////////
ul.ds_list{
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
@mixin ds_list_calc( $class, $ds_color, $type:circle){
	ul.ds_list{
	  &.#{$class}.#{$type}{
		  li {
				background-image: url( #{$TEMPLATE_PATH}ds_list_#{$class}_#{$type}.png );
				// background: $ds_color;
			}
		}
	}
}
ul.ds_list{
	li{
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 24px;
		line-height: 1.9em;
	}
}

@each $ds_list_type in $ds_list_types {
	@include ds_list_calc( 'ds_black', $ds_black, $ds_list_type );
	@include ds_list_calc( 'ds_red', $ds_red, $ds_list_type );
	@include ds_list_calc( 'ds_blue', $ds_blue, $ds_list_type );
	@include ds_list_calc( 'ds_pink', $ds_pink, $ds_list_type );
	@include ds_list_calc( 'ds_green', $ds_green, $ds_list_type );
	@include ds_list_calc( 'ds_orange', $ds_orange, $ds_list_type );
	@include ds_list_calc( 'ds_yellow', $ds_yellow, $ds_list_type );
}

/////////////////////////
// ノーマルボックス mixin //
/////////////////////////

@mixin ds_normal_box( $class, $ds_color ){
	&.#{$class}{
		border: 0px $ds_color solid;
		// background: lighten( $ds_color , 30%) ;
	}
}

// ノーマルボックス
.ds_normal_box{
	padding: $ds_padding_top;
	margin: 10px 0px;
	@include ds_normal_box( 'ds_black', $ds_black );
	@include ds_normal_box( 'ds_red', $ds_red );
	@include ds_normal_box( 'ds_blue', $ds_blue );
	@include ds_normal_box( 'ds_pink', $ds_pink );
	@include ds_normal_box( 'ds_green', $ds_green );
	@include ds_normal_box( 'ds_orange', $ds_orange );
	@include ds_normal_box( 'ds_yellow', $ds_yellow );
}

/////////////////////////
// Q & A ボックス mixin  //
/////////////////////////
@mixin ds_qa_box( $class, $ds_color ){
	&.#{$class}{
		border-bottom: 1px #e8e8e8 solid;
		border-left: 1px #e8e8e8 solid;
		border-right: 1px #e8e8e8 solid;
		background-repeat: no-repeat;
		background-position: left center;
		dt.question{
			background-color: lighten( $ds_color , 0%) ;
			background-image: url( #{$TEMPLATE_PATH}ds_qa_box_#{$class}.png ) ;
		}
		dd.answer{
			background-image: url( #{$TEMPLATE_PATH}ds_qa_box_a_#{$class}.png ) ;
		}
	}
}
dl.ds_qa_box{
	padding: 0px;
	margin: 10px 0px;
	dt.question{
		color: #FFF;
		padding-left: $ds_padding_icon_left+10 ;
		padding-top: $ds_padding_top;
		padding-bottom: $ds_padding_bottom+5;
		background-repeat: no-repeat;
		background-position: 5px 5px;
		-webkit-background-size: 40px 40px;
		     -o-background-size: 40px 40px;
		        background-size: 40px 40px;
	}
	dd.answer{
		padding-left: $ds_padding_icon_left+10 ;
		padding-top: $ds_padding_top;
		padding-bottom: $ds_padding_bottom+5;
		background-repeat: no-repeat;
		background-position: center left;
		background-position: 5px 5px;
		-webkit-background-size: 40px 40px;
		     -o-background-size: 40px 40px;
		        background-size: 40px 40px;
	}
	@include ds_qa_box( 'ds_black', $ds_black );
	@include ds_qa_box( 'ds_red', $ds_red );
	@include ds_qa_box( 'ds_blue', $ds_blue );
	@include ds_qa_box( 'ds_pink', $ds_pink );
	@include ds_qa_box( 'ds_green', $ds_green );
	@include ds_qa_box( 'ds_orange', $ds_orange );
	@include ds_qa_box( 'ds_yellow', $ds_yellow );
}

/////////////////////////
// チェック ボックス mixin//
/////////////////////////
@mixin ds_check_box( $class, $ds_color ){
	&.#{$class}{
		border: 1px lighten($ds_color,20%) solid;
		background-image: url( #{$TEMPLATE_PATH}ds_check_box_#{$class}.png ) ;
		background-color: lighten( $ds_color , 35%) ;
	}
}
.ds_check_box{
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-top: $ds_padding_top+5;
	padding-bottom: $ds_padding_bottom+5;
	padding-left: $ds_padding_icon_left+10;
	-webkit-background-size: 40px;
	     -o-background-size: 40px;
	        background-size: 40px;
	@include ds_check_box( 'ds_black', $ds_black );
	@include ds_check_box( 'ds_red', $ds_red );
	@include ds_check_box( 'ds_blue', $ds_blue );
	@include ds_check_box( 'ds_pink', $ds_pink );
	@include ds_check_box( 'ds_green', $ds_green );
	@include ds_check_box( 'ds_orange', $ds_orange );
	@include ds_check_box( 'ds_yellow', $ds_yellow );
}

///////////////////////////////////
// エクストラメーション ボックス mixin//
///////////////////////////////////
@mixin ds_exclamation_box( $class, $ds_color ){
	&.#{$class}{
		border: 1px lighten($ds_color,20%) solid;
		background-color: lighten( $ds_color , 35%) ;
		&.square{
			background-image: url( #{$TEMPLATE_PATH}ds_exclamation_box_#{$class}.png ) ;
		}
		&.triangle{
			background-image: url( #{$TEMPLATE_PATH}ds_exclamation_box_triangle_#{$class}.png ) ;
		}
	}
}
.ds_exclamation_box{
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-top: $ds_padding_top+5;
	padding-bottom: $ds_padding_bottom+5;
	padding-left: $ds_padding_icon_left+10;
	-webkit-background-size: 40px;
	     -o-background-size: 40px;
	        background-size: 40px;

	@include ds_exclamation_box( 'ds_black', $ds_black );
	@include ds_exclamation_box( 'ds_red', $ds_red );
	@include ds_exclamation_box( 'ds_blue', $ds_blue );
	@include ds_exclamation_box( 'ds_pink', $ds_pink );
	@include ds_exclamation_box( 'ds_green', $ds_green );
	@include ds_exclamation_box( 'ds_orange', $ds_orange );
	@include ds_exclamation_box( 'ds_yellow', $ds_yellow );
}

///////////////////////////////////
// メモ  ボックス             mixin//
///////////////////////////////////
@mixin ds_memo_box( $class, $ds_color ){
	&.#{$class}{
		border: 1px lighten($ds_color,28%) solid;
		background-image: url( #{$TEMPLATE_PATH}ds_memo_box_#{$class}.png ) ;
		background-color: lighten( $ds_color , 30%) ;
	}
}
.ds_memo_box{
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-top: $ds_padding_top+5;
	padding-bottom: $ds_padding_bottom+5;
	padding-left: $ds_padding_icon_left+10;
	-webkit-background-size: 40px;
	     -o-background-size: 40px;
	        background-size: 40px;

	@include ds_memo_box( 'ds_black', $ds_black );
	@include ds_memo_box( 'ds_red', $ds_red );
	@include ds_memo_box( 'ds_blue', $ds_blue );
	@include ds_memo_box( 'ds_pink', $ds_pink );
	@include ds_memo_box( 'ds_green', $ds_green );
	@include ds_memo_box( 'ds_orange', $ds_orange );
	@include ds_memo_box( 'ds_yellow', $ds_yellow );
}

///////////////////////////////////
// 指  ボックス             mixin//
///////////////////////////////////
@mixin ds_pencil_box( $class, $ds_color ){
	&.#{$class}{
		border: 1px lighten($ds_color,28%) solid;
		background-image: url( #{$TEMPLATE_PATH}ds_pencil_box_#{$class}.png ) ;
		background-color: lighten( $ds_color , 30%) ;
	}
}
.ds_pencil_box{
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-top: $ds_padding_top+5;
	padding-bottom: $ds_padding_bottom+5;
	padding-left: $ds_padding_icon_left+10;
	-webkit-background-size: 40px;
	     -o-background-size: 40px;
	        background-size: 40px;
	@include ds_pencil_box( 'ds_black', $ds_black );
	@include ds_pencil_box( 'ds_red', $ds_red );
	@include ds_pencil_box( 'ds_blue', $ds_blue );
	@include ds_pencil_box( 'ds_pink', $ds_pink );
	@include ds_pencil_box( 'ds_green', $ds_green );
	@include ds_pencil_box( 'ds_orange', $ds_orange );
	@include ds_pencil_box( 'ds_yellow', $ds_yellow );
}

///////////////////////////////////
// 指  ボックス             mixin//
///////////////////////////////////
@mixin ds_star_box( $class, $ds_color ){
	&.#{$class}{
		border: 1px lighten($ds_color,28%) solid;
		background-image: url( #{$TEMPLATE_PATH}ds_star_box_#{$class}.png ) ;
		background-color: lighten( $ds_color , 30%) ;
	}
}
.ds_star_box{
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-top: $ds_padding_top+5;
	padding-bottom: $ds_padding_bottom+5;
	padding-left: $ds_padding_icon_left+10;
	-webkit-background-size: 40px;
	     -o-background-size: 40px;
	        background-size: 40px;
	@include ds_star_box( 'ds_black', $ds_black );
	@include ds_star_box( 'ds_red', $ds_red );
	@include ds_star_box( 'ds_blue', $ds_blue );
	@include ds_star_box( 'ds_pink', $ds_pink );
	@include ds_star_box( 'ds_green', $ds_green );
	@include ds_star_box( 'ds_orange', $ds_orange );
	@include ds_star_box( 'ds_yellow', $ds_yellow );
}

///////////////////////////////////
// ランキング  ボックス        mixin//
///////////////////////////////////
@mixin ds_ranking_box( $ranking ){
	&.#{$ranking}{
		background-image: url( #{$TEMPLATE_PATH}ds_ranking_box_#{$ranking}.png ) ;
	}
}
.ds_ranking_box{
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-top: $ds_padding_top+5;
	padding-bottom: $ds_padding_bottom+5;
	padding-left: $ds_padding_icon_left+20;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f5f5f5;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	        box-shadow: 0 0 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid #e8e8e8;
	-webkit-background-size: 50px;
	     -o-background-size: 50px;
	        background-size: 50px;
	@include ds_ranking_box( 'ranking_1' );
	@include ds_ranking_box( 'ranking_2' );
	@include ds_ranking_box( 'ranking_3' );
	@include ds_ranking_box( 'ranking_4' );
	@include ds_ranking_box( 'ranking_5' );
	@include ds_ranking_box( 'ranking_6' );
	@include ds_ranking_box( 'ranking_7' );
	@include ds_ranking_box( 'ranking_8' );
	@include ds_ranking_box( 'ranking_9' );
	@include ds_ranking_box( 'ranking_10');
}



///////////////////////////////////
// ヘッディング  ボックス     mixin//
///////////////////////////////////

@mixin ds_heading( $class, $ds_color, $type:crown){
	h3.ds_heading{
	  &.#{$class}.#{$type}{
			background-image: url( #{$TEMPLATE_PATH}ds_heading_#{$class}_#{$type}.png );
			// background-color: $ds_color;
		}
	}
}
h3.ds_heading{
	font-size: 1.4em;
	line-height: 1.7em;
	padding-top: $ds_padding_top;
	padding-bottom: $ds_padding_bottom+15;
	padding-left: $ds_padding_icon_left+15;
  background-repeat: no-repeat;
  background-position: left center;
  &[class*="2"]{
		font-size: 1.4em;
		line-height: 1.7em;
		padding-top: $ds_padding_top;
		padding-bottom: $ds_padding_bottom+5;
		padding-left: $ds_padding_icon_left+10;
	  background-repeat: no-repeat;
	  background-position: left center;
	  color: #FFF;
  }
}


@each $ds_heading_type in $ds_heading_types {
	@include ds_heading( 'ds_black', $ds_black, $ds_heading_type );
	@include ds_heading( 'ds_red', $ds_red, $ds_heading_type );
	@include ds_heading( 'ds_blue', $ds_blue, $ds_heading_type );
	@include ds_heading( 'ds_pink', $ds_pink, $ds_heading_type );
	@include ds_heading( 'ds_green', $ds_green, $ds_heading_type );
	@include ds_heading( 'ds_orange', $ds_orange, $ds_heading_type );
	@include ds_heading( 'ds_yellow', $ds_yellow, $ds_heading_type );
}



