// ==============================
// _single.scss
// 投稿ページ スタイルシート
// ==============================

body.single{
	.site-main{
		// 投稿ヘッダー
		.entry_header{
			margin-top: 0em;
			margin-bottom: 1.3em;
		}
		// 投稿フッター
		.entry-footer{
			margin-top: 1em;
			margin-bottom: 1em;
			background: #F2F3EA;
			border: 1px solid darken( #F2F3EA, 10%);
			padding: 0.8em 1.4em;
		}
	}
}

// Facebook コメント
.facebook-comments-block{
	margin-top: 3em;
	margin-bottom: 3em;
	iframe{
		max-width: 100%;
	}
}

// 投稿ナビゲーション
.post-navigation{
	padding: 10px;
	background: $gray-lightist;
	border: 1px solid darken( $gray-lightist, 5 );
}

// 次の記事、前の記事ボタン
.nav-links {
	.nav-previous,
	.nav-next{
		margin-bottom: 5px;
		margin-top: 5px;
	}
}
