// main.scss
// @import "compass/compass";

body{
	// border-bottom: 10px solid #E8e8e8;
}

a img:hover {
	-webkit-transition: all ease-in 0.2s;
	-moz-transition: all ease-in 0.2s;
	-ms-transition: all ease-in 0.2s;
	-o-transition: all ease-in 0.2s;
	transition: all ease-in 0.2s;
}

a img:hover {
	opacity: 0.8;
}

@import "themes/header";
@import "themes/animation";
@import "themes/article";
@import "themes/forms";
@import "themes/headings";
@import "themes/main";
@import "themes/media";
@import "themes/typo";
@import "themes/aside";
@import "themes/footer";
@import "themes/wordpress";
@import "themes/single";
@import "themes/comment";
@import "themes/shortcode";

.edit-link{
	// @include background-image(linear-gradient(#FFF, #F5F5F5));
	border-bottom-width: 2px;
	.dashicons{
		vertical-align: top;
		font-size: 17px;
	}
}

@media (max-width: 320px) {
	@import "themes/responsive";
}
