a img:hover {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

a img:hover {
  opacity: 0.8;
}

#main .page-header {
  margin-top: 0;
}
#main .page-header .page-title {
  margin-top: 0;
  padding-left: 0.5em;
}

.site-header {
  background: #FFF;
}
.site-header .header-inner {
  min-height: 110px;
}
.site-header .site-description {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.site-header .site-description h1 {
  padding-left: 10px;
}
.site-header .logo {
  margin-top: 1em;
  margin-bottom: 1em;
}
.site-header .logo.small {
  line-height: 1.7em;
  font-size: 1.3em;
}
.site-header .logo.small img {
  width: 50%;
  height: auto;
}
.site-header .logo.normal {
  font-size: 2em;
  line-height: 1.7em;
}
.site-header .logo.normal img {
  width: auto;
  height: auto;
}
.site-header .logo.full {
  font-size: 4em;
  line-height: 1.7em;
}
.site-header .logo.full img {
  width: 100%;
  height: auto;
}

.post-group {
  clear: both;
  margin-bottom: 1.4em;
}

.entry-author-meta .share-block {
  text-align: right;
  margin-top: -5px;
  display: inline-block;
}

.entry_header {
  margin-bottom: 0.5em;
  padding-bottom: 0.1em;
  border-top: 4px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.entry_header .entry-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2.2em;
}
.entry_header .entry-meta .entry-date {
  display: inline-block;
  padding-right: 0.7em;
  padding-left: 0.7em;
  background: #CCC;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2);
  color: #FFF;
  vertical-align: middle;
  font-size: 0.9em;
  line-height: 1.8em;
}

.widget-title.type02 {
  margin-left: 0;
  color: #FFF;
}
.widget-title.type03 {
  margin-left: 0;
}
.widget-title.type04 {
  margin-left: 0;
}
.widget-title.type05 {
  margin-left: 0;
}
.widget-title.type06 {
  margin-left: 0;
  padding-left: 2.3em !important;
  line-height: 1.2em !important;
}
.widget-title.type06:before, .widget-title.type06:after {
  font-size: 1em;
}

.wrap.container .content {
  background: #FFF;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.breadcrumbs {
  margin-top: 1em;
  margin-bottom: 1em;
  background: #f5f5f5;
  padding: 3px 1em;
  border-radius: 3px;
}

.main {
  padding-bottom: 1.4em;
  padding-top: 1.4em;
}
.main.pull-right {
  padding-left: 8px;
}
.main.pull-left {
  padding-right: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

a img:hover {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

a img:hover {
  opacity: 0.8;
}

.sidebar {
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  border-left: none;
}

.widget {
  margin-bottom: 1em;
}
.widget.widget_recent_entries ul, .widget.widget_nav_menu ul, .widget.widget_categories ul, .widget.widget_meta ul, .widget.widget_archive ul {
  list-style: none;
}
.widget.widget_recent_entries ul li, .widget.widget_nav_menu ul li, .widget.widget_categories ul li, .widget.widget_meta ul li, .widget.widget_archive ul li {
  padding-left: 0;
  border-bottom: 1px solid #e8e8e8;
  line-height: 2.3em;
}
.widget.widget_recent_entries ul li a, .widget.widget_nav_menu ul li a, .widget.widget_categories ul li a, .widget.widget_meta ul li a, .widget.widget_archive ul li a {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  display: block;
  padding-left: 1.6em;
  background-image: url("../img/arrow-mini.png");
  background-position: 0.4em 1.05em;
  background-repeat: no-repeat;
}
.widget.widget_recent_entries ul li a:hover, .widget.widget_nav_menu ul li a:hover, .widget.widget_categories ul li a:hover, .widget.widget_meta ul li a:hover, .widget.widget_archive ul li a:hover {
  background-image: url("../img/arrow-mini_hover.png");
  background-position: 0.4em 1.05em;
  background-repeat: no-repeat;
  text-decoration: none;
}
.widget.widget_recent_entries ul li a:active, .widget.widget_recent_entries ul li a:focus, .widget.widget_nav_menu ul li a:active, .widget.widget_nav_menu ul li a:focus, .widget.widget_categories ul li a:active, .widget.widget_categories ul li a:focus, .widget.widget_meta ul li a:active, .widget.widget_meta ul li a:focus, .widget.widget_archive ul li a:active, .widget.widget_archive ul li a:focus {
  background-image: url("../img/arrow-mini_hover.png") !important;
  background-position: 0.4em 1.05em !important;
  background-repeat: no-repeat !important;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.widget.widget_recent_entries ul li .post-date, .widget.widget_nav_menu ul li .post-date, .widget.widget_categories ul li .post-date, .widget.widget_meta ul li .post-date, .widget.widget_archive ul li .post-date {
  display: inline-block;
  font-size: 0.8em;
}
.widget.widget_categories ul li ul.children {
  margin-left: 1em;
}
.widget.widget_rss ul {
  padding-left: 0;
  margin-left: 0;
}
.widget.widget_rss ul li {
  margin-left: 0;
  padding-left: 0px;
}
.widget.widget_rss ul li .rsswidget {
  display: block;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  background: #f5f5f5;
  box-shadow: inset 0 0 1px #FFF,inset 0 0 1px #FFF,inset 0 0 1px #FFF;
}
.widget.widget_rss ul li .rss-date {
  font-size: 0.8em;
}
.widget.widget_rss ul li .rssSummary {
  font-size: 0.9em;
  line-height: 1.5em;
}
.widget ul {
  margin-left: 0;
  padding-left: 0px;
  list-style: none;
}
.widget ul li {
  padding-left: 10px;
  border-bottom: 1px solid #e8e8e8;
  line-height: 2.8em;
}
.widget.widget_calendar #wp-calendar {
  width: 100%;
  border: 1px solid #eeeeee;
  border-collapse: collapse;
}
.widget.widget_calendar #wp-calendar th {
  padding: 5px;
  background: #eeeeee;
}
.widget.widget_calendar #wp-calendar td {
  padding: 5px;
  border: 1px solid #eeeeee;
  text-align: center;
}
.widget.widget-sidebar .widget-title {
  margin-top: 0px;
  padding-left: 1.4em;
  border-top: 5px solid #e8e8e8;
  border-bottom: 1px solid #CCC;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2.4em;
}
.widget.widget-header .widget-title {
  padding-left: 10px;
  border-top: 5px solid #e8e8e8;
  border-bottom: 1px solid #CCC;
  color: #252525;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2.4em;
}
.widget.widget-content .widget-title {
  padding-left: 10px;
  border-top: 5px solid #e8e8e8;
  border-bottom: 1px solid #CCC;
  color: #252525;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2.4em;
}
.widget.widget-footer .widget-title {
  padding-left: 10px;
  border-top: 5px solid #e8e8e8;
  border-bottom: 1px solid #CCC;
  color: #252525;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2.4em;
}

iframe {
  max-width: 100%;
  height: auto;
}

.footer-copy {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

footer#colophon {
  background: url("../img/footer-bg.jpg");
}

.scroll-to-top.shown {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.scroll-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  color: white;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.scroll-to-top:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

body.single .site-main .entry_header {
  margin-top: 0em;
  margin-bottom: 1.3em;
}
body.single .site-main .entry-footer {
  margin-top: 1em;
  margin-bottom: 1em;
  background: #F2F3EA;
  border: 1px solid #dee0ca;
  padding: 0.8em 1.4em;
}

.facebook-comments-block {
  margin-top: 3em;
  margin-bottom: 3em;
}
.facebook-comments-block iframe {
  max-width: 100%;
}

.post-navigation {
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
}

.nav-links .nav-previous,
.nav-links .nav-next {
  margin-bottom: 5px;
  margin-top: 5px;
}

.comment-reply-link,
#cancel-comment-reply-link {
  background: #e8e8e8;
  padding: 0px 8px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #CCC;
  font-size: 0.9em;
}

.media-list li.comment {
  border-top: 1px solid #e8e8e8;
  margin-top: 1em;
  padding-top: 1em;
}

ul.ds_list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

ul.ds_list li {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  line-height: 1.9em;
}

ul.ds_list.ds_black.circle li {
  background-image: url(../img/shortcode/ds_list_ds_black_circle.png);
}

ul.ds_list.ds_red.circle li {
  background-image: url(../img/shortcode/ds_list_ds_red_circle.png);
}

ul.ds_list.ds_blue.circle li {
  background-image: url(../img/shortcode/ds_list_ds_blue_circle.png);
}

ul.ds_list.ds_pink.circle li {
  background-image: url(../img/shortcode/ds_list_ds_pink_circle.png);
}

ul.ds_list.ds_green.circle li {
  background-image: url(../img/shortcode/ds_list_ds_green_circle.png);
}

ul.ds_list.ds_orange.circle li {
  background-image: url(../img/shortcode/ds_list_ds_orange_circle.png);
}

ul.ds_list.ds_yellow.circle li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_circle.png);
}

ul.ds_list.ds_black.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_black_dotted.png);
}

ul.ds_list.ds_red.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_red_dotted.png);
}

ul.ds_list.ds_blue.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_blue_dotted.png);
}

ul.ds_list.ds_pink.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_pink_dotted.png);
}

ul.ds_list.ds_green.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_green_dotted.png);
}

ul.ds_list.ds_orange.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_orange_dotted.png);
}

ul.ds_list.ds_yellow.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_dotted.png);
}

ul.ds_list.ds_black.checked li {
  background-image: url(../img/shortcode/ds_list_ds_black_checked.png);
}

ul.ds_list.ds_red.checked li {
  background-image: url(../img/shortcode/ds_list_ds_red_checked.png);
}

ul.ds_list.ds_blue.checked li {
  background-image: url(../img/shortcode/ds_list_ds_blue_checked.png);
}

ul.ds_list.ds_pink.checked li {
  background-image: url(../img/shortcode/ds_list_ds_pink_checked.png);
}

ul.ds_list.ds_green.checked li {
  background-image: url(../img/shortcode/ds_list_ds_green_checked.png);
}

ul.ds_list.ds_orange.checked li {
  background-image: url(../img/shortcode/ds_list_ds_orange_checked.png);
}

ul.ds_list.ds_yellow.checked li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_checked.png);
}

ul.ds_list.ds_black.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_black_box_checked.png);
}

ul.ds_list.ds_red.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_red_box_checked.png);
}

ul.ds_list.ds_blue.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_blue_box_checked.png);
}

ul.ds_list.ds_pink.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_pink_box_checked.png);
}

ul.ds_list.ds_green.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_green_box_checked.png);
}

ul.ds_list.ds_orange.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_orange_box_checked.png);
}

ul.ds_list.ds_yellow.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_box_checked.png);
}

ul.ds_list.ds_black.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_black_arrow.png);
}

ul.ds_list.ds_red.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_red_arrow.png);
}

ul.ds_list.ds_blue.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_blue_arrow.png);
}

ul.ds_list.ds_pink.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_pink_arrow.png);
}

ul.ds_list.ds_green.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_green_arrow.png);
}

ul.ds_list.ds_orange.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_orange_arrow.png);
}

ul.ds_list.ds_yellow.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_arrow.png);
}

ul.ds_list.ds_black.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_black_box_arrow.png);
}

ul.ds_list.ds_red.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_red_box_arrow.png);
}

ul.ds_list.ds_blue.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_blue_box_arrow.png);
}

ul.ds_list.ds_pink.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_pink_box_arrow.png);
}

ul.ds_list.ds_green.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_green_box_arrow.png);
}

ul.ds_list.ds_orange.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_orange_box_arrow.png);
}

ul.ds_list.ds_yellow.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_box_arrow.png);
}

ul.ds_list.ds_black.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_black_circle_arrow.png);
}

ul.ds_list.ds_red.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_red_circle_arrow.png);
}

ul.ds_list.ds_blue.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_blue_circle_arrow.png);
}

ul.ds_list.ds_pink.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_pink_circle_arrow.png);
}

ul.ds_list.ds_green.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_green_circle_arrow.png);
}

ul.ds_list.ds_orange.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_orange_circle_arrow.png);
}

ul.ds_list.ds_yellow.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_circle_arrow.png);
}

.ds_normal_box {
  padding: 10px;
  margin: 10px 0px;
}
.ds_normal_box.ds_black {
  border: 0px #555555 solid;
}
.ds_normal_box.ds_red {
  border: 0px #ba2f2f solid;
}
.ds_normal_box.ds_blue {
  border: 0px #7261df solid;
}
.ds_normal_box.ds_pink {
  border: 0px #ff00de solid;
}
.ds_normal_box.ds_green {
  border: 0px #40b93f solid;
}
.ds_normal_box.ds_orange {
  border: 0px #ffa600 solid;
}
.ds_normal_box.ds_yellow {
  border: 0px #ecf222 solid;
}

dl.ds_qa_box {
  padding: 0px;
  margin: 10px 0px;
}
dl.ds_qa_box dt.question {
  color: #FFF;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 40px 40px;
}
dl.ds_qa_box dd.answer {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 5px 5px;
  background-size: 40px 40px;
}
dl.ds_qa_box.ds_black {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_black dt.question {
  background-color: #555555;
  background-image: url(../img/shortcode/ds_qa_box_ds_black.png);
}
dl.ds_qa_box.ds_black dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_black.png);
}
dl.ds_qa_box.ds_red {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_red dt.question {
  background-color: #ba2f2f;
  background-image: url(../img/shortcode/ds_qa_box_ds_red.png);
}
dl.ds_qa_box.ds_red dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_red.png);
}
dl.ds_qa_box.ds_blue {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_blue dt.question {
  background-color: #7261df;
  background-image: url(../img/shortcode/ds_qa_box_ds_blue.png);
}
dl.ds_qa_box.ds_blue dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_blue.png);
}
dl.ds_qa_box.ds_pink {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_pink dt.question {
  background-color: #ff00de;
  background-image: url(../img/shortcode/ds_qa_box_ds_pink.png);
}
dl.ds_qa_box.ds_pink dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_pink.png);
}
dl.ds_qa_box.ds_green {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_green dt.question {
  background-color: #40b93f;
  background-image: url(../img/shortcode/ds_qa_box_ds_green.png);
}
dl.ds_qa_box.ds_green dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_green.png);
}
dl.ds_qa_box.ds_orange {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_orange dt.question {
  background-color: #ffa600;
  background-image: url(../img/shortcode/ds_qa_box_ds_orange.png);
}
dl.ds_qa_box.ds_orange dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_orange.png);
}
dl.ds_qa_box.ds_yellow {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_yellow dt.question {
  background-color: #ecf222;
  background-image: url(../img/shortcode/ds_qa_box_ds_yellow.png);
}
dl.ds_qa_box.ds_yellow dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_yellow.png);
}

.ds_check_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_check_box.ds_black {
  border: 1px #888888 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_black.png);
  background-color: #aeaeae;
}
.ds_check_box.ds_red {
  border: 1px #dc7373 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_red.png);
  background-color: #ebb0b0;
}
.ds_check_box.ds_blue {
  border: 1px #beb6f0 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_blue.png);
  background-color: #f6f5fd;
}
.ds_check_box.ds_pink {
  border: 1px #ff66eb solid;
  background-image: url(../img/shortcode/ds_check_box_ds_pink.png);
  background-color: #ffb3f5;
}
.ds_check_box.ds_green {
  border: 1px #88d688 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_green.png);
  background-color: #c1eac1;
}
.ds_check_box.ds_orange {
  border: 1px #ffca66 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_orange.png);
  background-color: #ffe4b3;
}
.ds_check_box.ds_yellow {
  border: 1px #f4f882 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_yellow.png);
  background-color: #fafccb;
}

.ds_exclamation_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_exclamation_box.ds_black {
  border: 1px #888888 solid;
  background-color: #aeaeae;
}
.ds_exclamation_box.ds_black.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_black.png);
}
.ds_exclamation_box.ds_black.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_black.png);
}
.ds_exclamation_box.ds_red {
  border: 1px #dc7373 solid;
  background-color: #ebb0b0;
}
.ds_exclamation_box.ds_red.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_red.png);
}
.ds_exclamation_box.ds_red.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_red.png);
}
.ds_exclamation_box.ds_blue {
  border: 1px #beb6f0 solid;
  background-color: #f6f5fd;
}
.ds_exclamation_box.ds_blue.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_blue.png);
}
.ds_exclamation_box.ds_blue.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_blue.png);
}
.ds_exclamation_box.ds_pink {
  border: 1px #ff66eb solid;
  background-color: #ffb3f5;
}
.ds_exclamation_box.ds_pink.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_pink.png);
}
.ds_exclamation_box.ds_pink.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_pink.png);
}
.ds_exclamation_box.ds_green {
  border: 1px #88d688 solid;
  background-color: #c1eac1;
}
.ds_exclamation_box.ds_green.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_green.png);
}
.ds_exclamation_box.ds_green.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_green.png);
}
.ds_exclamation_box.ds_orange {
  border: 1px #ffca66 solid;
  background-color: #ffe4b3;
}
.ds_exclamation_box.ds_orange.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_orange.png);
}
.ds_exclamation_box.ds_orange.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_orange.png);
}
.ds_exclamation_box.ds_yellow {
  border: 1px #f4f882 solid;
  background-color: #fafccb;
}
.ds_exclamation_box.ds_yellow.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_yellow.png);
}
.ds_exclamation_box.ds_yellow.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_yellow.png);
}

.ds_memo_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_memo_box.ds_black {
  border: 1px #9c9c9c solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_black.png);
  background-color: #a2a2a2;
}
.ds_memo_box.ds_red {
  border: 1px #e49494 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_red.png);
  background-color: #e69c9c;
}
.ds_memo_box.ds_blue {
  border: 1px #dcd8f7 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_blue.png);
  background-color: #e4e0f9;
}
.ds_memo_box.ds_pink {
  border: 1px #ff8ff0 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_pink.png);
  background-color: #ff99f2;
}
.ds_memo_box.ds_green {
  border: 1px #a7e1a6 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_green.png);
  background-color: #aee3ae;
}
.ds_memo_box.ds_orange {
  border: 1px #ffd88f solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_orange.png);
  background-color: #ffdb99;
}
.ds_memo_box.ds_yellow {
  border: 1px #f8faa9 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_yellow.png);
  background-color: #f8fbb3;
}

.ds_pencil_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_pencil_box.ds_black {
  border: 1px #9c9c9c solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_black.png);
  background-color: #a2a2a2;
}
.ds_pencil_box.ds_red {
  border: 1px #e49494 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_red.png);
  background-color: #e69c9c;
}
.ds_pencil_box.ds_blue {
  border: 1px #dcd8f7 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_blue.png);
  background-color: #e4e0f9;
}
.ds_pencil_box.ds_pink {
  border: 1px #ff8ff0 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_pink.png);
  background-color: #ff99f2;
}
.ds_pencil_box.ds_green {
  border: 1px #a7e1a6 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_green.png);
  background-color: #aee3ae;
}
.ds_pencil_box.ds_orange {
  border: 1px #ffd88f solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_orange.png);
  background-color: #ffdb99;
}
.ds_pencil_box.ds_yellow {
  border: 1px #f8faa9 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_yellow.png);
  background-color: #f8fbb3;
}

.ds_star_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_star_box.ds_black {
  border: 1px #9c9c9c solid;
  background-image: url(../img/shortcode/ds_star_box_ds_black.png);
  background-color: #a2a2a2;
}
.ds_star_box.ds_red {
  border: 1px #e49494 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_red.png);
  background-color: #e69c9c;
}
.ds_star_box.ds_blue {
  border: 1px #dcd8f7 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_blue.png);
  background-color: #e4e0f9;
}
.ds_star_box.ds_pink {
  border: 1px #ff8ff0 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_pink.png);
  background-color: #ff99f2;
}
.ds_star_box.ds_green {
  border: 1px #a7e1a6 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_green.png);
  background-color: #aee3ae;
}
.ds_star_box.ds_orange {
  border: 1px #ffd88f solid;
  background-image: url(../img/shortcode/ds_star_box_ds_orange.png);
  background-color: #ffdb99;
}
.ds_star_box.ds_yellow {
  border: 1px #f8faa9 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_yellow.png);
  background-color: #f8fbb3;
}

.ds_ranking_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #e8e8e8;
  background-size: 50px;
}
.ds_ranking_box.ranking_1 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_1.png);
}
.ds_ranking_box.ranking_2 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_2.png);
}
.ds_ranking_box.ranking_3 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_3.png);
}
.ds_ranking_box.ranking_4 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_4.png);
}
.ds_ranking_box.ranking_5 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_5.png);
}
.ds_ranking_box.ranking_6 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_6.png);
}
.ds_ranking_box.ranking_7 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_7.png);
}
.ds_ranking_box.ranking_8 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_8.png);
}
.ds_ranking_box.ranking_9 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_9.png);
}
.ds_ranking_box.ranking_10 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_10.png);
}

h3.ds_heading {
  font-size: 1.4em;
  line-height: 1.7em;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 65px;
  background-repeat: no-repeat;
  background-position: left center;
}
h3.ds_heading[class*="2"] {
  font-size: 1.4em;
  line-height: 1.7em;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: left center;
  color: #FFF;
}

h3.ds_heading.ds_black.crown {
  background-image: url(../img/shortcode/ds_heading_ds_black_crown.png);
}

h3.ds_heading.ds_red.crown {
  background-image: url(../img/shortcode/ds_heading_ds_red_crown.png);
}

h3.ds_heading.ds_blue.crown {
  background-image: url(../img/shortcode/ds_heading_ds_blue_crown.png);
}

h3.ds_heading.ds_pink.crown {
  background-image: url(../img/shortcode/ds_heading_ds_pink_crown.png);
}

h3.ds_heading.ds_green.crown {
  background-image: url(../img/shortcode/ds_heading_ds_green_crown.png);
}

h3.ds_heading.ds_orange.crown {
  background-image: url(../img/shortcode/ds_heading_ds_orange_crown.png);
}

h3.ds_heading.ds_yellow.crown {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_crown.png);
}

h3.ds_heading.ds_black.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_crown2.png);
}

h3.ds_heading.ds_red.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_crown2.png);
}

h3.ds_heading.ds_blue.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_crown2.png);
}

h3.ds_heading.ds_pink.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_crown2.png);
}

h3.ds_heading.ds_green.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_crown2.png);
}

h3.ds_heading.ds_orange.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_crown2.png);
}

h3.ds_heading.ds_yellow.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_crown2.png);
}

h3.ds_heading.ds_black.memo {
  background-image: url(../img/shortcode/ds_heading_ds_black_memo.png);
}

h3.ds_heading.ds_red.memo {
  background-image: url(../img/shortcode/ds_heading_ds_red_memo.png);
}

h3.ds_heading.ds_blue.memo {
  background-image: url(../img/shortcode/ds_heading_ds_blue_memo.png);
}

h3.ds_heading.ds_pink.memo {
  background-image: url(../img/shortcode/ds_heading_ds_pink_memo.png);
}

h3.ds_heading.ds_green.memo {
  background-image: url(../img/shortcode/ds_heading_ds_green_memo.png);
}

h3.ds_heading.ds_orange.memo {
  background-image: url(../img/shortcode/ds_heading_ds_orange_memo.png);
}

h3.ds_heading.ds_yellow.memo {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_memo.png);
}

h3.ds_heading.ds_black.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_memo2.png);
}

h3.ds_heading.ds_red.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_memo2.png);
}

h3.ds_heading.ds_blue.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_memo2.png);
}

h3.ds_heading.ds_pink.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_memo2.png);
}

h3.ds_heading.ds_green.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_memo2.png);
}

h3.ds_heading.ds_orange.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_memo2.png);
}

h3.ds_heading.ds_yellow.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_memo2.png);
}

h3.ds_heading.ds_black.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_black_beginner.png);
}

h3.ds_heading.ds_red.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_red_beginner.png);
}

h3.ds_heading.ds_blue.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_blue_beginner.png);
}

h3.ds_heading.ds_pink.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_pink_beginner.png);
}

h3.ds_heading.ds_green.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_green_beginner.png);
}

h3.ds_heading.ds_orange.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_orange_beginner.png);
}

h3.ds_heading.ds_yellow.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_beginner.png);
}

h3.ds_heading.ds_black.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_beginner2.png);
}

h3.ds_heading.ds_red.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_beginner2.png);
}

h3.ds_heading.ds_blue.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_beginner2.png);
}

h3.ds_heading.ds_pink.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_beginner2.png);
}

h3.ds_heading.ds_green.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_beginner2.png);
}

h3.ds_heading.ds_orange.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_beginner2.png);
}

h3.ds_heading.ds_yellow.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_beginner2.png);
}

h3.ds_heading.ds_black.present {
  background-image: url(../img/shortcode/ds_heading_ds_black_present.png);
}

h3.ds_heading.ds_red.present {
  background-image: url(../img/shortcode/ds_heading_ds_red_present.png);
}

h3.ds_heading.ds_blue.present {
  background-image: url(../img/shortcode/ds_heading_ds_blue_present.png);
}

h3.ds_heading.ds_pink.present {
  background-image: url(../img/shortcode/ds_heading_ds_pink_present.png);
}

h3.ds_heading.ds_green.present {
  background-image: url(../img/shortcode/ds_heading_ds_green_present.png);
}

h3.ds_heading.ds_orange.present {
  background-image: url(../img/shortcode/ds_heading_ds_orange_present.png);
}

h3.ds_heading.ds_yellow.present {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_present.png);
}

h3.ds_heading.ds_black.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_present2.png);
}

h3.ds_heading.ds_red.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_present2.png);
}

h3.ds_heading.ds_blue.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_present2.png);
}

h3.ds_heading.ds_pink.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_present2.png);
}

h3.ds_heading.ds_green.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_present2.png);
}

h3.ds_heading.ds_orange.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_present2.png);
}

h3.ds_heading.ds_yellow.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_present2.png);
}

h3.ds_heading.ds_black.star {
  background-image: url(../img/shortcode/ds_heading_ds_black_star.png);
}

h3.ds_heading.ds_red.star {
  background-image: url(../img/shortcode/ds_heading_ds_red_star.png);
}

h3.ds_heading.ds_blue.star {
  background-image: url(../img/shortcode/ds_heading_ds_blue_star.png);
}

h3.ds_heading.ds_pink.star {
  background-image: url(../img/shortcode/ds_heading_ds_pink_star.png);
}

h3.ds_heading.ds_green.star {
  background-image: url(../img/shortcode/ds_heading_ds_green_star.png);
}

h3.ds_heading.ds_orange.star {
  background-image: url(../img/shortcode/ds_heading_ds_orange_star.png);
}

h3.ds_heading.ds_yellow.star {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_star.png);
}

h3.ds_heading.ds_black.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_star2.png);
}

h3.ds_heading.ds_red.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_star2.png);
}

h3.ds_heading.ds_blue.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_star2.png);
}

h3.ds_heading.ds_pink.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_star2.png);
}

h3.ds_heading.ds_green.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_star2.png);
}

h3.ds_heading.ds_orange.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_star2.png);
}

h3.ds_heading.ds_yellow.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_star2.png);
}

.edit-link {
  border-bottom-width: 2px;
}
.edit-link .dashicons {
  vertical-align: top;
  font-size: 17px;
}

@media (max-width: 320px) {
  body {
    font-size: 0.9em;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  #masthead .navbar {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #masthead .navbar .logo {
    padding-left: 5px;
  }
  #masthead .navbar .logo.full {
    font-size: 1.9em;
  }
  #masthead .navbar.navbar-relative {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none !important;
  }
  #masthead .navbar .navbar-header {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
  }
  #masthead .navbar #header-navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .entry_header {
    font-size: 0.8em;
  }

  .post-group .entry-content {
    padding-left: 5px;
    padding-right: 5px;
  }
}
