ul.ds_list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

ul.ds_list li {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  line-height: 1.9em;
}

ul.ds_list.ds_black.circle li {
  background-image: url(../img/shortcode/ds_list_ds_black_circle.png);
}

ul.ds_list.ds_red.circle li {
  background-image: url(../img/shortcode/ds_list_ds_red_circle.png);
}

ul.ds_list.ds_blue.circle li {
  background-image: url(../img/shortcode/ds_list_ds_blue_circle.png);
}

ul.ds_list.ds_pink.circle li {
  background-image: url(../img/shortcode/ds_list_ds_pink_circle.png);
}

ul.ds_list.ds_green.circle li {
  background-image: url(../img/shortcode/ds_list_ds_green_circle.png);
}

ul.ds_list.ds_orange.circle li {
  background-image: url(../img/shortcode/ds_list_ds_orange_circle.png);
}

ul.ds_list.ds_yellow.circle li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_circle.png);
}

ul.ds_list.ds_black.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_black_dotted.png);
}

ul.ds_list.ds_red.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_red_dotted.png);
}

ul.ds_list.ds_blue.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_blue_dotted.png);
}

ul.ds_list.ds_pink.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_pink_dotted.png);
}

ul.ds_list.ds_green.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_green_dotted.png);
}

ul.ds_list.ds_orange.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_orange_dotted.png);
}

ul.ds_list.ds_yellow.dotted li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_dotted.png);
}

ul.ds_list.ds_black.checked li {
  background-image: url(../img/shortcode/ds_list_ds_black_checked.png);
}

ul.ds_list.ds_red.checked li {
  background-image: url(../img/shortcode/ds_list_ds_red_checked.png);
}

ul.ds_list.ds_blue.checked li {
  background-image: url(../img/shortcode/ds_list_ds_blue_checked.png);
}

ul.ds_list.ds_pink.checked li {
  background-image: url(../img/shortcode/ds_list_ds_pink_checked.png);
}

ul.ds_list.ds_green.checked li {
  background-image: url(../img/shortcode/ds_list_ds_green_checked.png);
}

ul.ds_list.ds_orange.checked li {
  background-image: url(../img/shortcode/ds_list_ds_orange_checked.png);
}

ul.ds_list.ds_yellow.checked li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_checked.png);
}

ul.ds_list.ds_black.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_black_box_checked.png);
}

ul.ds_list.ds_red.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_red_box_checked.png);
}

ul.ds_list.ds_blue.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_blue_box_checked.png);
}

ul.ds_list.ds_pink.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_pink_box_checked.png);
}

ul.ds_list.ds_green.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_green_box_checked.png);
}

ul.ds_list.ds_orange.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_orange_box_checked.png);
}

ul.ds_list.ds_yellow.box_checked li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_box_checked.png);
}

ul.ds_list.ds_black.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_black_arrow.png);
}

ul.ds_list.ds_red.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_red_arrow.png);
}

ul.ds_list.ds_blue.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_blue_arrow.png);
}

ul.ds_list.ds_pink.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_pink_arrow.png);
}

ul.ds_list.ds_green.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_green_arrow.png);
}

ul.ds_list.ds_orange.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_orange_arrow.png);
}

ul.ds_list.ds_yellow.arrow li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_arrow.png);
}

ul.ds_list.ds_black.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_black_box_arrow.png);
}

ul.ds_list.ds_red.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_red_box_arrow.png);
}

ul.ds_list.ds_blue.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_blue_box_arrow.png);
}

ul.ds_list.ds_pink.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_pink_box_arrow.png);
}

ul.ds_list.ds_green.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_green_box_arrow.png);
}

ul.ds_list.ds_orange.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_orange_box_arrow.png);
}

ul.ds_list.ds_yellow.box_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_box_arrow.png);
}

ul.ds_list.ds_black.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_black_circle_arrow.png);
}

ul.ds_list.ds_red.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_red_circle_arrow.png);
}

ul.ds_list.ds_blue.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_blue_circle_arrow.png);
}

ul.ds_list.ds_pink.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_pink_circle_arrow.png);
}

ul.ds_list.ds_green.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_green_circle_arrow.png);
}

ul.ds_list.ds_orange.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_orange_circle_arrow.png);
}

ul.ds_list.ds_yellow.circle_arrow li {
  background-image: url(../img/shortcode/ds_list_ds_yellow_circle_arrow.png);
}

.ds_normal_box {
  padding: 10px;
  margin: 10px 0px;
}
.ds_normal_box.ds_black {
  border: 0px #555555 solid;
}
.ds_normal_box.ds_red {
  border: 0px #ba2f2f solid;
}
.ds_normal_box.ds_blue {
  border: 0px #7261df solid;
}
.ds_normal_box.ds_pink {
  border: 0px #ff00de solid;
}
.ds_normal_box.ds_green {
  border: 0px #40b93f solid;
}
.ds_normal_box.ds_orange {
  border: 0px #ffa600 solid;
}
.ds_normal_box.ds_yellow {
  border: 0px #ecf222 solid;
}

dl.ds_qa_box {
  padding: 0px;
  margin: 10px 0px;
}
dl.ds_qa_box dt.question {
  color: #FFF;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 40px 40px;
}
dl.ds_qa_box dd.answer {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 5px 5px;
  background-size: 40px 40px;
}
dl.ds_qa_box.ds_black {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_black dt.question {
  background-color: #555555;
  background-image: url(../img/shortcode/ds_qa_box_ds_black.png);
}
dl.ds_qa_box.ds_black dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_black.png);
}
dl.ds_qa_box.ds_red {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_red dt.question {
  background-color: #ba2f2f;
  background-image: url(../img/shortcode/ds_qa_box_ds_red.png);
}
dl.ds_qa_box.ds_red dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_red.png);
}
dl.ds_qa_box.ds_blue {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_blue dt.question {
  background-color: #7261df;
  background-image: url(../img/shortcode/ds_qa_box_ds_blue.png);
}
dl.ds_qa_box.ds_blue dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_blue.png);
}
dl.ds_qa_box.ds_pink {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_pink dt.question {
  background-color: #ff00de;
  background-image: url(../img/shortcode/ds_qa_box_ds_pink.png);
}
dl.ds_qa_box.ds_pink dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_pink.png);
}
dl.ds_qa_box.ds_green {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_green dt.question {
  background-color: #40b93f;
  background-image: url(../img/shortcode/ds_qa_box_ds_green.png);
}
dl.ds_qa_box.ds_green dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_green.png);
}
dl.ds_qa_box.ds_orange {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_orange dt.question {
  background-color: #ffa600;
  background-image: url(../img/shortcode/ds_qa_box_ds_orange.png);
}
dl.ds_qa_box.ds_orange dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_orange.png);
}
dl.ds_qa_box.ds_yellow {
  border-bottom: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  background-repeat: no-repeat;
  background-position: left center;
}
dl.ds_qa_box.ds_yellow dt.question {
  background-color: #ecf222;
  background-image: url(../img/shortcode/ds_qa_box_ds_yellow.png);
}
dl.ds_qa_box.ds_yellow dd.answer {
  background-image: url(../img/shortcode/ds_qa_box_a_ds_yellow.png);
}

.ds_check_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_check_box.ds_black {
  border: 1px #888888 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_black.png);
  background-color: #aeaeae;
}
.ds_check_box.ds_red {
  border: 1px #dc7373 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_red.png);
  background-color: #ebb0b0;
}
.ds_check_box.ds_blue {
  border: 1px #beb6f0 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_blue.png);
  background-color: #f6f5fd;
}
.ds_check_box.ds_pink {
  border: 1px #ff66eb solid;
  background-image: url(../img/shortcode/ds_check_box_ds_pink.png);
  background-color: #ffb3f5;
}
.ds_check_box.ds_green {
  border: 1px #88d688 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_green.png);
  background-color: #c1eac1;
}
.ds_check_box.ds_orange {
  border: 1px #ffca66 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_orange.png);
  background-color: #ffe4b3;
}
.ds_check_box.ds_yellow {
  border: 1px #f4f882 solid;
  background-image: url(../img/shortcode/ds_check_box_ds_yellow.png);
  background-color: #fafccb;
}

.ds_exclamation_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_exclamation_box.ds_black {
  border: 1px #888888 solid;
  background-color: #aeaeae;
}
.ds_exclamation_box.ds_black.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_black.png);
}
.ds_exclamation_box.ds_black.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_black.png);
}
.ds_exclamation_box.ds_red {
  border: 1px #dc7373 solid;
  background-color: #ebb0b0;
}
.ds_exclamation_box.ds_red.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_red.png);
}
.ds_exclamation_box.ds_red.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_red.png);
}
.ds_exclamation_box.ds_blue {
  border: 1px #beb6f0 solid;
  background-color: #f6f5fd;
}
.ds_exclamation_box.ds_blue.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_blue.png);
}
.ds_exclamation_box.ds_blue.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_blue.png);
}
.ds_exclamation_box.ds_pink {
  border: 1px #ff66eb solid;
  background-color: #ffb3f5;
}
.ds_exclamation_box.ds_pink.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_pink.png);
}
.ds_exclamation_box.ds_pink.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_pink.png);
}
.ds_exclamation_box.ds_green {
  border: 1px #88d688 solid;
  background-color: #c1eac1;
}
.ds_exclamation_box.ds_green.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_green.png);
}
.ds_exclamation_box.ds_green.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_green.png);
}
.ds_exclamation_box.ds_orange {
  border: 1px #ffca66 solid;
  background-color: #ffe4b3;
}
.ds_exclamation_box.ds_orange.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_orange.png);
}
.ds_exclamation_box.ds_orange.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_orange.png);
}
.ds_exclamation_box.ds_yellow {
  border: 1px #f4f882 solid;
  background-color: #fafccb;
}
.ds_exclamation_box.ds_yellow.square {
  background-image: url(../img/shortcode/ds_exclamation_box_ds_yellow.png);
}
.ds_exclamation_box.ds_yellow.triangle {
  background-image: url(../img/shortcode/ds_exclamation_box_triangle_ds_yellow.png);
}

.ds_memo_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_memo_box.ds_black {
  border: 1px #9c9c9c solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_black.png);
  background-color: #a2a2a2;
}
.ds_memo_box.ds_red {
  border: 1px #e49494 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_red.png);
  background-color: #e69c9c;
}
.ds_memo_box.ds_blue {
  border: 1px #dcd8f7 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_blue.png);
  background-color: #e4e0f9;
}
.ds_memo_box.ds_pink {
  border: 1px #ff8ff0 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_pink.png);
  background-color: #ff99f2;
}
.ds_memo_box.ds_green {
  border: 1px #a7e1a6 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_green.png);
  background-color: #aee3ae;
}
.ds_memo_box.ds_orange {
  border: 1px #ffd88f solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_orange.png);
  background-color: #ffdb99;
}
.ds_memo_box.ds_yellow {
  border: 1px #f8faa9 solid;
  background-image: url(../img/shortcode/ds_memo_box_ds_yellow.png);
  background-color: #f8fbb3;
}

.ds_pencil_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_pencil_box.ds_black {
  border: 1px #9c9c9c solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_black.png);
  background-color: #a2a2a2;
}
.ds_pencil_box.ds_red {
  border: 1px #e49494 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_red.png);
  background-color: #e69c9c;
}
.ds_pencil_box.ds_blue {
  border: 1px #dcd8f7 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_blue.png);
  background-color: #e4e0f9;
}
.ds_pencil_box.ds_pink {
  border: 1px #ff8ff0 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_pink.png);
  background-color: #ff99f2;
}
.ds_pencil_box.ds_green {
  border: 1px #a7e1a6 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_green.png);
  background-color: #aee3ae;
}
.ds_pencil_box.ds_orange {
  border: 1px #ffd88f solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_orange.png);
  background-color: #ffdb99;
}
.ds_pencil_box.ds_yellow {
  border: 1px #f8faa9 solid;
  background-image: url(../img/shortcode/ds_pencil_box_ds_yellow.png);
  background-color: #f8fbb3;
}

.ds_star_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-size: 40px;
}
.ds_star_box.ds_black {
  border: 1px #9c9c9c solid;
  background-image: url(../img/shortcode/ds_star_box_ds_black.png);
  background-color: #a2a2a2;
}
.ds_star_box.ds_red {
  border: 1px #e49494 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_red.png);
  background-color: #e69c9c;
}
.ds_star_box.ds_blue {
  border: 1px #dcd8f7 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_blue.png);
  background-color: #e4e0f9;
}
.ds_star_box.ds_pink {
  border: 1px #ff8ff0 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_pink.png);
  background-color: #ff99f2;
}
.ds_star_box.ds_green {
  border: 1px #a7e1a6 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_green.png);
  background-color: #aee3ae;
}
.ds_star_box.ds_orange {
  border: 1px #ffd88f solid;
  background-image: url(../img/shortcode/ds_star_box_ds_orange.png);
  background-color: #ffdb99;
}
.ds_star_box.ds_yellow {
  border: 1px #f8faa9 solid;
  background-image: url(../img/shortcode/ds_star_box_ds_yellow.png);
  background-color: #f8fbb3;
}

.ds_ranking_box {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #e8e8e8;
  background-size: 50px;
}
.ds_ranking_box.ranking_1 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_1.png);
}
.ds_ranking_box.ranking_2 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_2.png);
}
.ds_ranking_box.ranking_3 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_3.png);
}
.ds_ranking_box.ranking_4 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_4.png);
}
.ds_ranking_box.ranking_5 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_5.png);
}
.ds_ranking_box.ranking_6 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_6.png);
}
.ds_ranking_box.ranking_7 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_7.png);
}
.ds_ranking_box.ranking_8 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_8.png);
}
.ds_ranking_box.ranking_9 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_9.png);
}
.ds_ranking_box.ranking_10 {
  background-image: url(../img/shortcode/ds_ranking_box_ranking_10.png);
}

h3.ds_heading {
  font-size: 1.4em;
  line-height: 1.7em;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 65px;
  background-repeat: no-repeat;
  background-position: left center;
}
h3.ds_heading[class*="2"] {
  font-size: 1.4em;
  line-height: 1.7em;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: left center;
  color: #FFF;
}

h3.ds_heading.ds_black.crown {
  background-image: url(../img/shortcode/ds_heading_ds_black_crown.png);
}

h3.ds_heading.ds_red.crown {
  background-image: url(../img/shortcode/ds_heading_ds_red_crown.png);
}

h3.ds_heading.ds_blue.crown {
  background-image: url(../img/shortcode/ds_heading_ds_blue_crown.png);
}

h3.ds_heading.ds_pink.crown {
  background-image: url(../img/shortcode/ds_heading_ds_pink_crown.png);
}

h3.ds_heading.ds_green.crown {
  background-image: url(../img/shortcode/ds_heading_ds_green_crown.png);
}

h3.ds_heading.ds_orange.crown {
  background-image: url(../img/shortcode/ds_heading_ds_orange_crown.png);
}

h3.ds_heading.ds_yellow.crown {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_crown.png);
}

h3.ds_heading.ds_black.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_crown2.png);
}

h3.ds_heading.ds_red.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_crown2.png);
}

h3.ds_heading.ds_blue.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_crown2.png);
}

h3.ds_heading.ds_pink.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_crown2.png);
}

h3.ds_heading.ds_green.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_crown2.png);
}

h3.ds_heading.ds_orange.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_crown2.png);
}

h3.ds_heading.ds_yellow.crown2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_crown2.png);
}

h3.ds_heading.ds_black.memo {
  background-image: url(../img/shortcode/ds_heading_ds_black_memo.png);
}

h3.ds_heading.ds_red.memo {
  background-image: url(../img/shortcode/ds_heading_ds_red_memo.png);
}

h3.ds_heading.ds_blue.memo {
  background-image: url(../img/shortcode/ds_heading_ds_blue_memo.png);
}

h3.ds_heading.ds_pink.memo {
  background-image: url(../img/shortcode/ds_heading_ds_pink_memo.png);
}

h3.ds_heading.ds_green.memo {
  background-image: url(../img/shortcode/ds_heading_ds_green_memo.png);
}

h3.ds_heading.ds_orange.memo {
  background-image: url(../img/shortcode/ds_heading_ds_orange_memo.png);
}

h3.ds_heading.ds_yellow.memo {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_memo.png);
}

h3.ds_heading.ds_black.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_memo2.png);
}

h3.ds_heading.ds_red.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_memo2.png);
}

h3.ds_heading.ds_blue.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_memo2.png);
}

h3.ds_heading.ds_pink.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_memo2.png);
}

h3.ds_heading.ds_green.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_memo2.png);
}

h3.ds_heading.ds_orange.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_memo2.png);
}

h3.ds_heading.ds_yellow.memo2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_memo2.png);
}

h3.ds_heading.ds_black.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_black_beginner.png);
}

h3.ds_heading.ds_red.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_red_beginner.png);
}

h3.ds_heading.ds_blue.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_blue_beginner.png);
}

h3.ds_heading.ds_pink.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_pink_beginner.png);
}

h3.ds_heading.ds_green.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_green_beginner.png);
}

h3.ds_heading.ds_orange.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_orange_beginner.png);
}

h3.ds_heading.ds_yellow.beginner {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_beginner.png);
}

h3.ds_heading.ds_black.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_beginner2.png);
}

h3.ds_heading.ds_red.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_beginner2.png);
}

h3.ds_heading.ds_blue.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_beginner2.png);
}

h3.ds_heading.ds_pink.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_beginner2.png);
}

h3.ds_heading.ds_green.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_beginner2.png);
}

h3.ds_heading.ds_orange.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_beginner2.png);
}

h3.ds_heading.ds_yellow.beginner2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_beginner2.png);
}

h3.ds_heading.ds_black.present {
  background-image: url(../img/shortcode/ds_heading_ds_black_present.png);
}

h3.ds_heading.ds_red.present {
  background-image: url(../img/shortcode/ds_heading_ds_red_present.png);
}

h3.ds_heading.ds_blue.present {
  background-image: url(../img/shortcode/ds_heading_ds_blue_present.png);
}

h3.ds_heading.ds_pink.present {
  background-image: url(../img/shortcode/ds_heading_ds_pink_present.png);
}

h3.ds_heading.ds_green.present {
  background-image: url(../img/shortcode/ds_heading_ds_green_present.png);
}

h3.ds_heading.ds_orange.present {
  background-image: url(../img/shortcode/ds_heading_ds_orange_present.png);
}

h3.ds_heading.ds_yellow.present {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_present.png);
}

h3.ds_heading.ds_black.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_present2.png);
}

h3.ds_heading.ds_red.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_present2.png);
}

h3.ds_heading.ds_blue.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_present2.png);
}

h3.ds_heading.ds_pink.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_present2.png);
}

h3.ds_heading.ds_green.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_present2.png);
}

h3.ds_heading.ds_orange.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_present2.png);
}

h3.ds_heading.ds_yellow.present2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_present2.png);
}

h3.ds_heading.ds_black.star {
  background-image: url(../img/shortcode/ds_heading_ds_black_star.png);
}

h3.ds_heading.ds_red.star {
  background-image: url(../img/shortcode/ds_heading_ds_red_star.png);
}

h3.ds_heading.ds_blue.star {
  background-image: url(../img/shortcode/ds_heading_ds_blue_star.png);
}

h3.ds_heading.ds_pink.star {
  background-image: url(../img/shortcode/ds_heading_ds_pink_star.png);
}

h3.ds_heading.ds_green.star {
  background-image: url(../img/shortcode/ds_heading_ds_green_star.png);
}

h3.ds_heading.ds_orange.star {
  background-image: url(../img/shortcode/ds_heading_ds_orange_star.png);
}

h3.ds_heading.ds_yellow.star {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_star.png);
}

h3.ds_heading.ds_black.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_black_star2.png);
}

h3.ds_heading.ds_red.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_red_star2.png);
}

h3.ds_heading.ds_blue.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_blue_star2.png);
}

h3.ds_heading.ds_pink.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_pink_star2.png);
}

h3.ds_heading.ds_green.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_green_star2.png);
}

h3.ds_heading.ds_orange.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_orange_star2.png);
}

h3.ds_heading.ds_yellow.star2 {
  background-image: url(../img/shortcode/ds_heading_ds_yellow_star2.png);
}
