/*public.css*/

/* small */
.optin.at-mailmagazine{
	padding-top: 110px;
	padding-bottom: 0px;
	background-image: url(../images/mail-box-side.png);
	-webkit-background-size: 100% auto;
	     -o-background-size: 100% auto;
  background-repeat: no-repeat;
	        background-size: 100% auto;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
}
.optin.at-mailmagazine .btn{
  margin-bottom: 12px;
}
.optin.at-mailmagazine:after{
  content: '';
  display: block;
  width: 100%;
  background-color: #FFF;
  background-image: url(../images/mail-box-side-shadow.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
  height: 23px;
}
.optin .form-text{
	width: 80%;
	border: 1px solid #e8e8e8;
	padding: 4px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	margin-bottom: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  font-size: 12px;
  line-height: 1em;
}

/* normal */
.optin.at-mailmagazine.layout-normal{
  padding-top: 120px;
  padding-bottom: 0px;
  background-image: url(../images/mail-box.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}
.optin.at-mailmagazine.layout-normal .btn{
  margin-bottom: 17px;
}
.optin.at-mailmagazine.layout-normal:after{
  content: '';
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #FFF;
  background-image: url(../images/normal-box-shadow.png);
  height: 34px;
}
.optin.at-mailmagazine.layout-normal .form-text{
  margin-left: 90px;
  width: 80%;
  line-height: 2em;
}

/* large */
.optin.at-mailmagazine.layout-large{
  width: 980px;
  padding-top: 110px;
  background-image: url(../images/mail-box-large.png);
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.optin.at-mailmagazine.layout-large .form-text{
  /*margin-left: 90px;*/
  margin-top: 10px;
  width: 83.8%;
  font-size: em1.4;
}
.optin.at-mailmagazine.layout-large .btn-mailmagazine-dimensional{
  font-size: 1.4em;
  line-height: 1.4;
}
