/**
 * slider-admin.css
 */


.cmb_metabox{
	border: none;
}

body.post-type-atslider #minor-publishing{
	display: none !important;
}

#at_slider_widget_options .form-table.cmb_metabox,
#at_slider_widget_options .form-table.cmb_metabox tbody,
#at_slider_widget_options .form-table.cmb_metabox tr,
#at_slider_widget_options .form-table.cmb_metabox td,
#at_slider_widget_options .form-table.cmb_metabox th {
  border: none;
  display: block;
}
#at_slider_widget_options .form-table.cmb_metabox .cmb-type-file {
  width: 50%;
  float: left;
}
#at_slider_widget_options .form-table.cmb_metabox .cmb-type-text {
  width: 50%;
  float: left;
}

#at_slider_widget_options .form-table.cmb_metabox th {
  width: 100% !important;
  border-bottom: 1px solid #e8e8e8;
}

#at_slider_widget_options .form-table.cmb_metabox .cmb-type-wysiwyg{
  float: left;
  width: 50%;
}
#at_slider_widget_options .form-table.cmb_metabox .cmb-type-colorpicker{
  /*margin-top: -400px;*/
  float: left;
  width: 40%;
}

#at_slider_widget_options .cmb_metabox .repeatable-group .repeatable-grouping{
  overflow: hidden;
  border-bottom: 3px solid #e8e8e8;
}
#at_slider_widget_options .cmb_metabox .repeatable-group .repeatable-grouping .wp-editor-area{
  height: 300px;
}


