.jcarousel-wrapper {
  margin: 0px auto;
  position: relative;
}


.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
  color: #fff;
}

/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel ul li {
  /*padding-left: 0 !important;*/
  margin-left: 0 !important;
  float: left;
  position: relative;
  text-align: center;
  min-width: 980px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  /*top: 200px;*/
  width: 12%;
  height: 100%;
  text-align: center;
  background: url(../images/white-bg.png);
  color: #252525;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  z-index: 1000;
}
.jcarousel-control-prev span{
  background: url(../images/arrow-left.png) no-repeat;
  background-position: center center;
  height: 100%;
  display: block;
}
.jcarousel-control-next span{
  background: url(../images/arrow-right.png) no-repeat;
  background-position: center center;
  display: block;
  height: 100%;
}
.jcarousel-control-prev {
  left: 0px;
}
.jcarousel-control-next {
  right: 0px;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
  text-decoration: none;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
  position: absolute;
  z-index: 100;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  height: 15px;
  width: 15px;
  background: #fff;
  color: #4E443C;
  border-radius: 50%;
  padding: 3px;
  text-align: center;
  margin-right: 3px;
  border: 2px solid #FFF;
  opacity: .75;
}

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.slider-contents{
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 10px;
  width: 100%;
  color: #000;
}
.atslider-widget {
  position: relative;
}
.user-edit-button{
  position: absolute;
  z-index: 100000;
  top: 0;
  opacity: 0;
  right: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;

}
.atslider-widget:hover .user-edit-button{
  opacity: 1;
}
